<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            ABOUT US
        </div>
        <div class="element-layer-2"></div>
        <div class="element-layer-3">
            Example Of About Us Page
        </div>
    </div>
</div>
<section id="about-post">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="about-post-content d-flex">
                    <div class="about-post-content-image">
                        <picture>
                            <source  srcset="<?php echo $static_url ?>images/about/about-icon-1.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/about/about-icon-1.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                    </div>
                    <div class="about-post-content-title">
                        <span class="about-post-heading-title">Comfortable Room</span>
                    </div>
                    <div class="about-post-des">
                        <div class="about-post-des-content">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they.
                        </div>
                    </div>
                    <div class="about-post-link">
                        <a href="/" class="about-post-button-link wrap-content-button-link" role="button">
                            <span class="about-post-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="about-post-content d-flex">
                    <div class="about-post-content-image">
                        <picture>
                            <source  srcset="<?php echo $static_url ?>images/about/about-icon-2.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/about/about-icon-2.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                    </div>
                    <div class="about-post-content-title">
                        <span class="about-post-heading-title">Comfortable Room</span>
                    </div>
                    <div class="about-post-des">
                        <div class="about-post-des-content">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they.
                        </div>
                    </div>
                    <div class="about-post-link">
                        <a href="/" class="about-post-button-link wrap-content-button-link" role="button">
                            <span class="about-post-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="about-post-content d-flex">
                    <div class="about-post-content-image">
                        <picture>
                            <source  srcset="<?php echo $static_url ?>images/about/about-icon-3.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/about/about-icon-3.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                    </div>
                    <div class="about-post-content-title">
                        <span class="about-post-heading-title">Comfortable Room</span>
                    </div>
                    <div class="about-post-des">
                        <div class="about-post-des-content">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they.
                        </div>
                    </div>
                    <div class="about-post-link">
                        <a href="/" class="about-post-button-link wrap-content-button-link" role="button">
                            <span class="about-post-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="story-about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 m-0 p-0 d-flex align-items-center justify-content-center text-center">
                <div class="wrap-content">
                    <div class="wrap-content-header">
                        STORY ABOUT US
                    </div>
                    <div class="wrap-content-line-y">

                    </div>
                    <div class="wrap-content-short-description">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </div>
                    <div class="wrap-content-images">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/winning.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/winning.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/winning.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                    </div>
                    <div class="wrap-content-button">
                        <a href="/" class="wrap-content-button-link" role="button">
                            <span class="wrap-content-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="image-story-about">
                    <picture>
                        <source  srcset="<?php echo $static_url ?>images/about/about-right.webp" type="image/webp">
                        <img loading="lazy" src="<?php echo $static_url ?>images/about/about-right.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-welcom-wrap">
    <div class="container container-full-width bg-gray">
        <div class="row">
            <div class="welcom-content">
                <div class="welcom-background-overlay"></div>
                <div class="welcom-content-wrap">
                    <div class="welcom-content-wrap-icon mb-5" onclick="showGallery('lightgallery')">
                        <img src="<?php echo $static_url ?>images/play-circle-white.svg" width="100" height="100" alt="play video" loading="lazy">
                    </div>
                    <div class="welcom-content-wrap-title mb-5">
                        VIDEO PRESENTATION
                    </div>
                    <div class="welcom-content-wrap-short mb-5">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which <br>I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                    </div>
                </div>
                <div class="image-gallery">
                    <ul id="lightgallery">

                        <li class="video" data-src="https://youtu.be/u9tzLI4SJ2w" data-poster="https://img.youtube.com/vi/u9tzLI4SJ2w/hqdefault.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="winning-award-about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="image-story-about">
                    <picture>
                        <source  srcset="<?php echo $static_url ?>images/about/about-left.webp" type="image/webp">
                        <img loading="lazy" src="<?php echo $static_url ?>images/about/about-left.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                    </picture>
                </div>
            </div>
            <div class="col-12 col-sm-6 m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="wrap-content">
                    <div class="wrap-content-header">
                        WINNING AWARD DESIGN
                    </div>
                    <div class="wrap-content-short-description">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence.
                    </div>

                    <div class="wrap-content-button-more">
                        <a href="/" class="wrap-content-button-more-link" role="button">
                            <span class="wrap-content-more-button-text">More Detail</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>