<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY
        </div>
        <div class="element-layer-3">
            <div class="blog-item-info">
                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-time-white"></i> 28 Aug 2019</a>
                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment-white"></i> 0</a>
                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder-white"></i> Blog, Fit Row</a>
            </div>
        </div>
    </div>
</div>
<section id="page-blog" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="blog-item mb-5">
                    <div class="blog-item-content">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                        <p style="line-height: 1.3; margin-bottom: 18px; font-weight: 400; margin-top: 18px; font-size: 24px; color: #454545;">I neglect my talents</p>
                        <p style="line-height: 1.7; margin-bottom: 18px; color: #808080;">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                        </p>
                        <p>
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                <img onclick="showGallery('lightgallery')" loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                            </picture>
                        </p>
                        <div class="image-gallery">
                            <ul id="lightgallery">
                                <li data-responsive="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 375, <?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 480, <?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 800" data-src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg"
                                    data-sub-html="">

                                </li>
                            </ul>
                        </div>
                        <p>
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                <img onclick="showGallery('lightgallery1')" loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                            </picture>
                        <div class="image-gallery1">
                            <ul id="lightgallery">
                                <li data-responsive="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 375, <?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 480, <?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg 800" data-src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg"
                                    data-sub-html="">

                                </li>
                            </ul>
                        </div>
                        </p>

                        <p style="line-height: 1.7; margin-bottom: 18px; color: #808080;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.</p>
                    </div>

                </div>
                <div class="blog-previous">
                    <a href="/" title="title">
                        <span> Previous Post</span>
                        <h3>The quick, brown fox jumps over a lazy dog</h3>
                    </a>
                </div>
                <div class="social-share">
                    <span class="social-share-title">SHARE POST:</span>
                    <a href="/" title="facebook">
                        <svg class="svg-inline--fa fa-facebook-f" height="23" width="23" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg>
                    </a>
                    <a href="/" title="twitter">
                        <svg class="svg-inline--fa fa-twitter" height="23" width="23" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z"></path></svg>
                    </a>
                    <a href="/" title="instagram">
                        <svg class="svg-inline--fa fa-instagram" height="23" width="23" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                    </a>
                    <a href="/" title="youtube">
                        <svg class="svg-inline--fa fa-youtube" height="23" width="23" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M549.7 124.1c-6.281-23.65-24.79-42.28-48.28-48.6C458.8 64 288 64 288 64S117.2 64 74.63 75.49c-23.5 6.322-42 24.95-48.28 48.6-11.41 42.87-11.41 132.3-11.41 132.3s0 89.44 11.41 132.3c6.281 23.65 24.79 41.5 48.28 47.82C117.2 448 288 448 288 448s170.8 0 213.4-11.49c23.5-6.321 42-24.17 48.28-47.82 11.41-42.87 11.41-132.3 11.41-132.3s0-89.44-11.41-132.3zm-317.5 213.5V175.2l142.7 81.21-142.7 81.2z"></path></svg><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path>
                    </a>
                </div>
                <div class="post-author-wrap">
                    <div class="post-author">
                        <div class="post-author-avartar">
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/user-comment.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/user-comment.webp" type="image/webp">
                                <img loading="lazy" src="<?php echo $static_url ?>images/blog/user-comment.jpeg" alt="background images slide" width="836" height="324" class="auto-size">
                            </picture>
                        </div>
                        <div class="post-author-content">
                            <h4 class="post-author"><a href="/" title="Posts by John Smith" rel="author">John Smith</a></h4>
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                        </div>
                    </div>
                </div>
                <div id="comments" class="gdlr-comments-area">

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/" style="display:none;">Cancel Reply</a></small></h3>
                        <form action="" method="post" id="commentform" class="comment-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="comment-form-comment">
                                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="comment-form-head">
                                        <input id="author" name="author" type="text" value="" placeholder="Name*" size="30" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="comment-form-head">
                                        <input id="email" name="email" type="text" value="" placeholder="Email*" size="30" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="comment-form-head">
                                        <input id="url" name="url" type="text" value="" placeholder="Website" size="30">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                                    </p>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-4">
                <div class="blog-search">
                    <form>
                        <input type="text" name="blog-search" class="input-blog-search" placeholder="Type keywords">
                        <input type="submit" id="blog-search-submit" value="">
                    </form>

                </div>
                <div class="blog-text-widget">
                    <div class="blog-text-widget-title">TEXT WIDGET</div>
                    <div class="blog-text-widget-content">Morbi leo risus, porta ac consectetur ac, vest ibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</div>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-tag-group ">
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-recent">
                    <ul id="recentcomments">
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                    </ul>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-tag-cloud">
                    <a href="/" title="tag" class="tag-cloud">Blog</a>
                    <a href="/" title="tag" class="tag-cloud">Life Style</a>
                </div>
            </div>
        </div>
    </div>
</section>