<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            BLOG FULL WITH RIGHT SIDEBAR
        </div>
        <div class="element-layer-2"></div>
        <div class="element-layer-3">
            Caption placed here
        </div>
    </div>
</div>
<section id="page-blog" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="blog-item mb-5">
                    <div class="blog-item-image">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                    </div>
                    <div class="blog-item-info-wrap d-flex mt-4">
                        <div class="blog-item-date">
                            <div class="blog-date-day">28</div>
                            <div class="blog-date-month">AUG</div>
                        </div>
                        <div class="blog-item-content">
                            <div class="blog-item-info">
                                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-title">
                                <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-decs-short">
                                <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                            </div>
                            <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="blog-item-image">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                    </div>
                    <div class="blog-item-info-wrap d-flex mt-4">
                        <div class="blog-item-date">
                            <div class="blog-date-day">28</div>
                            <div class="blog-date-month">AUG</div>
                        </div>
                        <div class="blog-item-content">
                            <div class="blog-item-info">
                                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-title">
                                <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-decs-short">
                                <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                            </div>
                            <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="blog-item-image">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                    </div>
                    <div class="blog-item-info-wrap d-flex mt-4">
                        <div class="blog-item-date">
                            <div class="blog-date-day">28</div>
                            <div class="blog-date-month">AUG</div>
                        </div>
                        <div class="blog-item-content">
                            <div class="blog-item-info">
                                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-title">
                                <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-decs-short">
                                <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                            </div>
                            <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="blog-item-image">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                    </div>
                    <div class="blog-item-info-wrap d-flex mt-4">
                        <div class="blog-item-date">
                            <div class="blog-date-day">28</div>
                            <div class="blog-date-month">AUG</div>
                        </div>
                        <div class="blog-item-content">
                            <div class="blog-item-info">
                                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-title">
                                <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-decs-short">
                                <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                            </div>
                            <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="blog-item-image">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                        </picture>
                    </div>
                    <div class="blog-item-info-wrap d-flex mt-4">
                        <div class="blog-item-date">
                            <div class="blog-date-day">28</div>
                            <div class="blog-date-month">AUG</div>
                        </div>
                        <div class="blog-item-content">
                            <div class="blog-item-info">
                                <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-title">
                                <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                            </div>
                            <div class="clear"></div>
                            <div class="blog-item-decs-short">
                                <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                            </div>
                            <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-5">
                <div class="blog-search">
                    <form>
                        <input type="text" name="blog-search" class="input-blog-search" placeholder="Type keywords">
                        <input type="submit" id="blog-search-submit" value="">
                    </form>

                </div>
                <div class="blog-text-widget">
                    <div class="blog-text-widget-title">TEXT WIDGET</div>
                    <div class="blog-text-widget-content">Morbi leo risus, porta ac consectetur ac, vest ibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</div>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-tag-group ">
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="/" title="title" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="/" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="" title="title" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="/" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-tag-item d-flex">
                        <div class="blog-tag-item-image">
                            <a href="/" title="title">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/140H-150x150.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/140H-150x150.jpg" alt="background images slide" width="70" height="70">
                                </picture>
                            </a>

                        </div>
                        <div class="blog-tag-item-info">
                            <div class="blog-tag-item-title">
                                <a href="" title="title" class="blog-tag-item-title-link">Thumbnail open lightbox</a>
                            </div>
                            <div class="blog-tag-item-date">
                                <a href="/" class="blog-tag-item-date-link"><i class="ic ic-time-5b"></i>04 Dec 2013</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-recent">
                    <ul id="recentcomments">
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span> John Smith on <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                    </ul>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">RECENT WORKS</div>
                </div>
                <div class="blog-tag-cloud">
                    <a href="/" title="tag" class="tag-cloud">Blog</a>
                    <a href="/" title="tag" class="tag-cloud">Life Style</a>
                </div>
            </div>
        </div>
    </div>
</section>