<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            ROOM CLASSIC 3 COLUMNS
        </div>
        <div class="element-layer-2"></div>
        <div class="element-layer-3">
            Captions line here
        </div>
    </div>
</div>
<section id="category-product">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="products" >
                    <div class="products-image" onclick="showGallery('lightgallery')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>


                        <div class="image-gallery">
                            <ul id="lightgallery">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="products" >
                    <div class="products-image" onclick="showGallery('lightgallery1')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>
                        <div class="image-gallery">
                            <ul id="lightgallery1">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="products">
                    <div class="products-image" onclick="showGallery('lightgallery2')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>
                        <div class="image-gallery">
                            <ul id="lightgallery2">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="products">
                    <div class="products-image" onclick="showGallery('lightgallery3')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>
                        <div class="image-gallery">
                            <ul id="lightgallery3">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="products">
                    <div class="products-image" onclick="showGallery('lightgallery4')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>
                        <div class="image-gallery">
                            <ul id="lightgallery4">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="products">
                    <div class="products-image" onclick="showGallery('lightgallery5')">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/chastity-cortijo-604624-unsplash-700x400.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                        </picture>
                        <div class="thumbnail-gallery-overlay"></div>
                        <div class="thumbnail-gallery-label"><i class="ic ic-image-white"></i> View Gallery</div>
                        <div class="image-gallery">
                            <ul id="lightgallery5">
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightgallery.js/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightgallery.js/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg"
                                    data-sub-html="">

                                </li>
                                <li class="video" data-src="https://youtu.be/YD_gvR234qg" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="products-title">
                        <a href="/" title="Grand Deluxe">Grand Deluxe</a>
                    </div>
                    <div class="products-info">
                        <div class="check-fill">
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>3 People</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>30 sqm.</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>Ocean View</span>
                            </div>
                            <div class="check-fill-item">
                                <i class="ic ic-check-square"></i><span>King Bed</span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="price-head">From</span>
                            <span class="price-tail">$109</span>
                        </div>
                        <div class="product-link">
                            <a class="product-button-link" href="/">Check Details <i class="ic ic-next-long-arrow-right-white"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
