<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            CONTACT PAGE
        </div>
        <div class="element-layer-2"></div>
<!--        <div class="element-layer-3">-->
<!--            Example Of About Us Page-->
<!--        </div>-->
    </div>
</div>
<section id="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="contact-form">
                    <div class="contact-form-header">
                        Please Complete the form below
                    </div>
                    <div class="contact-form-content">
                        <form action="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-groups">
                                        <label class="form-contact-title">Your Name (required)</label>
                                        <input class="form-contact-input" name="" value="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-groups">
                                        <label class="form-contact-title">Your Email (required)</label>
                                        <input class="form-contact-input" name="" value="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-groups">
                                        <label class="form-contact-title">Your Message</label>
                                        <textarea rows="6" class="form-contact-textarea" name="" ></textarea>
                                    </div>
                                </div>
                                <div class="col-12 pb-4">
                                    <div class="form-group">
                                        <input class="form-input-submit" type="submit" value="send">
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="contact-right-title">Before Contact Us</div>
                <div class="contact-right-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Non equidem invideo, miror magis posuere velit aliquet.</div>
                <div class="contact-right-title">Contact Information</div>
                <div class="contact-right-widget ">
                    <div class="contact-right-widget-element"><i class="ic ic-location"></i><span>184 Main Collins Street West Victoria 8007</span></div>
                    <div class="contact-right-widget-element"><i class="ic ic-phone"></i><span>1800-222-222</span></div>
                    <div class="contact-right-widget-element"><i class="ic ic-mail"></i><span>contact@versatilewptheme.com</span></div>
                    <div class="contact-right-widget-element"><i class="ic ic-time"></i><span>Everyday 9:00-17:00</span></div>
                </div>
                <div class="contact-right-title">Social Media</div>
                <div class="contact-right-social d-flex">
                    <div class="contact-right-widget-element"><i class="ic ic-facebook"></i></div>
                    <div class="contact-right-widget-element"><i class="ic ic-twitter"></i></div>
                    <div class="contact-right-widget-element"><i class="ic ic-instagram"></i></div>
                    <div class="contact-right-widget-element"><i class="ic ic-pinterest"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-info">
    <div class="contact-background-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="contact-post-content bg-white">
                    <div class="contact-post-content-image">
                        <i class="ic ic-mail"></i>
                    </div>
                    <div class="contact-post-content-title">
                        <span class="about-post-heading-title">Contact By Email</span>
                    </div>
                    <div class="contact-post-des">
                        <div class="contact-post-des-content">
                            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="contact-post-content bg-white">
                    <div class="contact-post-content-image">
                        <i class="ic ic-phone"></i>
                    </div>
                    <div class="contact-post-content-title">
                        <span class="contact-post-heading-title">Contact By Phone</span>
                    </div>
                    <div class="contact-post-des">
                        <div class="about-post-des-content">
                            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="contact-post-content bg-white">
                    <div class="contact-post-content-image">
                        <i class="ic ic-mail"></i>
                    </div>
                    <div class="contact-post-content-title">
                        <span class="about-post-heading-title">Come To See Us</span>
                    </div>
                    <div class="contact-post-des">
                        <div class="contact-post-des-content">
                            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>