<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            QUALITY AND DESIGN
        </div>
        <div class="element-layer-2"></div>
        <div class="element-layer-3">
            The luxury suite hotel Hotel Master is one of the most stylish hotels in Madrid. This modern take on the traditional alpine lodge is located at the foot of the Spain
        </div>
        <div class="element-layer-4 e-hover">
            <a href="/">Make A Reservation</a>
        </div>
    </div>
</div>
<section id="wrap-content-about">
    <div class="container container-home bg-gray">
        <div class="row">
            <div class="col-12 col-sm-6 m-0 p-0">
                <div class="wrap-image">
<!--                    <picture>-->
<!--                        <source  media="(max-width:540px)" srcset="--><?php //echo $static_url ?><!--images/mb-trent-szmolnik-1271248-unsplash.webp" type="image/webp">-->
<!--                        <source  media="(min-width:540px)" srcset="--><?php //echo $static_url ?><!--images/trent-szmolnik-1271248-unsplash.webp" type="image/webp">-->
<!--                        <img loading="lazy" src="--><?php //echo $static_url ?><!--images/mb-trent-szmolnik-1271248-unsplash.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">-->
<!--                    </picture>-->
                </div>
            </div>
            <div class="col-12 col-sm-6 m-0 p-0 d-flex align-items-center justify-content-center text-center">
                <div class="wrap-content">
                    <div class="wrap-content-header">
                        ABOUT HOTEL MASTER
                    </div>
                    <div class="wrap-content-line-y">

                    </div>
                    <div class="wrap-content-short-description">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </div>
                    <div class="wrap-content-button">
                        <a href="/" class="wrap-content-button-link" role="button">
                            <span class="wrap-content-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="checking-wrap">
    <div class="container">
        <div class="checking-wrap-title">
            <span>Check Availability</span>
        </div>
        <form action="" class="form-checking">
            <div class="checking-wrap-content d-flex">
                <div class="checking-field checking-datepicker-wrap">
                    <label for="checking-check-in" class="checking-field-title">Check In</label>
                    <div class="checking-datepicker-wrap">
                        <input type="text" id="checking-check-in" class="checking-datepicker datepicker" autocomplete="off"  value="<?php echo date("d M Y") ?>">
                    </div>

                </div>
                <div class="checking-field checking-combobox">
                    <label for="checking-night-number" class="checking-field-title">Nights</label>
                    <div class="checking-combobox-wrap">
                        <select name="checking-night-number" id="checking-night-number" class="checking-select-box">
                            <?php for ($i=1; $i< 10; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i?></option>
                            <?php endfor; ?>
                        </select>
                    </div>
                </div>
                <div class="checking-field checking-datepicker-wrap">
                    <label for="checking-check-out" class="checking-field-title">Check In</label>
                    <div class="checking-datepicker-wrap">
                        <input type="text" id="checking-check-out" class="checking-datepicker datepicker"  autocomplete="off" value="<?php echo date("d M Y") ?>">
                    </div>
                </div>
                <div class="checking-field checking-combobox">
                    <label for="checking-adult-number" class="checking-field-title">Adults</label>
                    <div class="checking-combobox-wrap">
                        <select name="checking-adult-number" id="checking-adult-number" class="checking-select-box">
                            <?php for ($i=0; $i< 10; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i?></option>
                            <?php endfor; ?>
                        </select>
                    </div>
                </div>
                <div class="checking-field checking-combobox">
                    <label for="checking-children-number" class="checking-field-title">Children</label>
                    <div class="checking-combobox-wrap">
                        <select name="checking-children-number" class="checking-select-box">
                            <?php for ($i=0; $i< 10; $i++): ?>
                            <option value="<?php echo $i ?>"><?php echo $i?></option>
                            <?php endfor; ?>
                        </select>
                    </div>
                </div>
                <div class="checking-submit">
                    <input type="submit" class="checking-button-submit" value="Check Availability">
                </div>
            </div>
        </form>

    </div>
</section>
<section id="slides-wrap">
    <div class="container container-home p-0">
        <div class="slideshow swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide custom-col-3">
                    <div class="slide-images-wrap full-width">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/image1.webp?v=1" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/image1.webp?v=1" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/image1.jpg?v=1" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>

                    <div class="slide-thumbnail-overlay">
                        <div class="slide-title-wrap">
                            <div class="slide-title-wrap-top-info">
                                From $149
                            </div>
                            <h3 class="slide-title">
                                <a href="/" title="Grand Deluxe" class="slide-title-link">Grand Deluxe</a>
                            </h3>
                            <div class="slide-title-wrap-bottom-info">
                                3 People  50 sqm.  Ocean View
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide custom-col-3">
                    <div class="slide-images-wrap full-width">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/image2.webp?v=1" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/image2.webp?v=1" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/image2.jpg?v=1" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>
                    <div class="slide-thumbnail-overlay">
                        <div class="slide-title-wrap">
                            <div class="slide-title-wrap-top-info">
                                From $149
                            </div>
                            <h3 class="slide-title">
                                <a href="/" title="Grand Deluxe" class="slide-title-link">Grand Deluxe</a>
                            </h3>
                            <div class="slide-title-wrap-bottom-info">
                                3 People  50 sqm.  Ocean View
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide custom-col-3">
                    <div class="slide-images-wrap full-width">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/image3.webp?v=1" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/image3.webp?v=1" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/image3.jpg?v=1" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>
                    <div class="slide-thumbnail-overlay">
                        <div class="slide-title-wrap">
                            <div class="slide-title-wrap-top-info">
                                From $149
                            </div>
                            <h3 class="slide-title">
                                <a href="/" title="Grand Deluxe" class="slide-title-link">Grand Deluxe</a>
                            </h3>
                            <div class="slide-title-wrap-bottom-info">
                                3 People  50 sqm.  Ocean View
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide custom-col-3">
                    <div class="slide-images-wrap full-width">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/image4.webp?v=1" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/image4.webp?v=1" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/image4.jpg?v=1" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>
                    <div class="slide-thumbnail-overlay">
                        <div class="slide-title-wrap">
                            <div class="slide-title-wrap-top-info">
                                From $149
                            </div>
                            <h3 class="slide-title">
                                <a href="/" title="Grand Deluxe" class="slide-title-link">Grand Deluxe</a>
                            </h3>
                            <div class="slide-title-wrap-bottom-info">
                                3 People  50 sqm.  Ocean View
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide custom-col-3">
                    <div class="slide-images-wrap full-width">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/image5.webp?v=1" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/image5.webp?v=1" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/image5.jpg?v=1" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>
                    <div class="slide-thumbnail-overlay">
                        <div class="slide-title-wrap">
                            <div class="slide-title-wrap-top-info">
                                From $149
                            </div>
                            <h3 class="slide-title">
                                <a href="/" title="Grand Deluxe" class="slide-title-link">Grand Deluxe</a>
                            </h3>
                            <div class="slide-title-wrap-bottom-info">
                                3 People  50 sqm.  Ocean View
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-button-wrap">
                <div class="swiper-button-prev swiper-button-prev-slide"></div>
                <a href="/" class="view-all-room">View All Rooms</a>
                <div class="swiper-button-next swiper-button-next-slide"></div>
            </div>
        </div>

    </div>
</section>
<section id="restaurants-wrap">
    <div class="container container-home bg-black">
        <div class="row">

            <div class="col-12 col-sm-6 m-0 p-0 d-flex align-items-center justify-content-center text-center">
                <div class="wrap-content">
                    <div class="wrap-content-header">
                        MICHELIN RESTAURANTS
                    </div>
                    <div class="wrap-content-line-y">

                    </div>
                    <div class="wrap-content-short-description">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </div>
                    <div class="wrap-content-button">
                        <a href="/" class="wrap-content-button-link" role="button">
                            <span class="wrap-content-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 m-0 p-0">
                <div class="wrap-image">
                    <!--                    <picture>-->
                    <!--                        <source  media="(max-width:540px)" srcset="--><?php //echo $static_url ?><!--images/mb-trent-szmolnik-1271248-unsplash.webp" type="image/webp">-->
                    <!--                        <source  media="(min-width:540px)" srcset="--><?php //echo $static_url ?><!--images/trent-szmolnik-1271248-unsplash.webp" type="image/webp">-->
                    <!--                        <img loading="lazy" src="--><?php //echo $static_url ?><!--images/mb-trent-szmolnik-1271248-unsplash.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">-->
                    <!--                    </picture>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section id="design-winning-wrap">
    <div class="container container-home bg-gray">
        <div class="row">
            <div class="col-12 col-sm-6 m-0 p-0">
                <div class="wrap-image">
                </div>
            </div>
            <div class="col-12 col-sm-6 m-0 p-0 d-flex align-items-center justify-content-center text-center">
                <div class="wrap-content">
                    <div class="wrap-content-header">
                        DESIGN WINNING AWARD
                    </div>
                    <div class="wrap-content-line-y">

                    </div>
                    <div class="wrap-content-short-description">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole.
                    </div>
                    <div class="wrap-content-images">
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/winning.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/winning.webp" type="image/webp">
                                <img loading="lazy" src="<?php echo $static_url ?>images/winning.png" alt="background images slide" width="412" height="274.66" class="auto-size">
                            </picture>
                    </div>
                    <div class="wrap-content-button">
                        <a href="/" class="wrap-content-button-link" role="button">
                            <span class="wrap-content-button-text">Check More Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="welcom-wrap">
    <div class="container container-home bg-gray">
        <div class="row">
            <div class="welcom-content">
                <div class="welcom-background-overlay"></div>
                <div class="welcom-content-wrap">
                    <div class="welcom-content-wrap-icon mb-5" onclick="showGallery('lightgallery')">
                        <img src="<?php echo $static_url ?>images/play-circle-white.svg" width="100" height="100" alt="play video" loading="lazy">
                    </div>
                    <div class="welcom-content-wrap-title mb-5">
                        WELCOME VIDEO
                    </div>
                    <div class="welcom-content-wrap-short mb-5">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which <br>
                        I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                    </div>
                </div>
                <div class="image-gallery">
                    <ul id="lightgallery">

                        <li class="video" data-src="https://youtu.be/u9tzLI4SJ2w" data-poster="https://img.youtube.com/vi/u9tzLI4SJ2w/hqdefault.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newsOffers">
    <div class="container container-home">
        <div class="news-offers-header text-center">
            <div class="news-offers-header-title">NEWS &OFFERS</div>
            <div class="news-offers-header-line"></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 pb-5">
                <div class="news-wrap">
                    <div class="news-wrap-images">
                        <a href="/" title="news title">
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-1.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-1.webp" type="image/webp">
                                <img loading="lazy" src="<?php echo $static_url ?>images/news-1.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                            </picture>
                        </a>

                    </div>
                    <div class="news-wrap-info text-center">
                        <div class="news-wrap-info-title"><a href="/" class="news-wrap-info-title-detail">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a></div>
                        <div class="news-wrap-info-group"><a href="/" class="news-wrap-info-group-detail">28 Aug 2019</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-5">
                <div class="news-wrap">
                    <div class="news-wrap-images">
                        <a href="/" title="news title">
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-2.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-2.webp" type="image/webp">
                                <img loading="lazy" src="<?php echo $static_url ?>images/news-2.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                            </picture>
                        </a>
                    </div>
                    <div class="news-wrap-info text-center">
                        <div class="news-wrap-info-title"><a href="/" class="news-wrap-info-title-detail">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a></div>
                        <div class="news-wrap-info-group"><a href="/" class="news-wrap-info-group-detail">28 Aug 2019</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 pb-5">
                <div class="news-wrap">
                    <div class="news-wrap-images">
                        <a href="/" title="news title">
                            <picture>
                                <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                                <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                                <img loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                            </picture>
                        </a>
                    </div>
                    <div class="news-wrap-info text-center">
                        <div class="news-wrap-info-title"><a href="/" class="news-wrap-info-title-detail">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a></div>
                        <div class="news-wrap-info-group"><a href="/" class="news-wrap-info-group-detail">28 Aug 2019</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slideCustomer">
    <div class="container container-small">
        <div class="slideshow-customer swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="customer-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </div>
                    <div class="customer-info">
                        <span class="customer-info-name">Allan Smith</span>
                        <span class="customer-info-position">Family Trip</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="customer-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </div>
                    <div class="customer-info">
                        <span class="customer-info-name">Allan Smith</span>
                        <span class="customer-info-position">Family Trip</span>
                    </div>
                </div>
            </div>
            <div class="aaa"></div>
            <div class="slide-button-wrap">
                <div class="swiper-button-prev swiper-button-prev-slide"></div>
                <span class="customer-button"></span>
                <div class="swiper-button-next swiper-button-next-slide"></div>
            </div>
        </div>
    </div>
</section>
<section id="listImagesHome">
    <div class="container-full-width">
        <div class="d-flex">
            <div class="col-custom-sm-20">
                <picture>
                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                    <img onclick="showGallery('imags-lightgallery0')" loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                </picture>
                <div class="image-gallery">
                    <ul id="imags-lightgallery0">

                        <li  data-src="<?php echo $static_url ?>images/news-3.jpg"
                             data-sub-html="">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-custom-sm-20">
                <picture>
                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                    <img onclick="showGallery('imags-lightgallery1')" loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                </picture>
                <div class="image-gallery">
                    <ul id="imags-lightgallery1">

                        <li  data-src="<?php echo $static_url ?>images/news-3.jpg"
                            data-sub-html="">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-custom-sm-20">
                <picture>
                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                    <img onclick="showGallery('imags-lightgallery2')" loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                </picture>
                <div class="image-gallery">
                    <ul id="imags-lightgallery2">

                        <li  data-src="<?php echo $static_url ?>images/news-3.jpg"
                             data-sub-html="">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-custom-sm-20">
                <picture>
                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                    <img onclick="showGallery('imags-lightgallery3')" loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                </picture>
                <div class="image-gallery">
                    <ul id="imags-lightgallery3">

                        <li  data-src="<?php echo $static_url ?>images/news-3.jpg"
                             data-sub-html="">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-custom-sm-20">
                <picture>
                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/mb-news-3.webp" type="image/webp">
                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/news-3.webp" type="image/webp">
                    <img onclick="showGallery('imags-lightgallery4')" loading="lazy" src="<?php echo $static_url ?>images/news-3.jpg" alt="background images slide" width="412" height="274.66" class="auto-size">
                </picture>
                <div class="image-gallery">
                    <ul id="imags-lightgallery4">

                        <li  data-src="<?php echo $static_url ?>images/news-3.jpg"
                             data-sub-html="">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>