<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            GRAND DELUXE
        </div>
        <div class="element-layer-2"></div>
<!--        <div class="element-layer-3">-->
<!--            Captions line here-->
<!--        </div>-->
    </div>
</div>
<section id="detail-info">
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="item-info mb-5">
                    <div class="product-item-image mb-4">
                        <picture>
                            <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/products/shutterstock_560973166-1340x580.webp" type="image/webp">
                            <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/products/shutterstock_560973166-1340x580.webp" type="image/webp">
                            <img loading="lazy" src="<?php echo $static_url ?>images/products/shutterstock_560973166-1340x580.jpg" alt="background images slide" width="412" height="274.66" class="auto-size full-width">
                        </picture>
                    </div>
                    <div class="product-item-title mb-4">
                        <h2 class="detail-heading-title">Grand Deluxe</h2>
                    </div>
                    <div class="product-item-widget d-flex">
                        <div class="widget-block d-flex">
                            <div class="widget-block-item ">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-people.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-people.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-people.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">3 People</div>
                            </div>
                            <div class="widget-block-item">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-size.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-size.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-size.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">30 sqm.</div>
                            </div>
                        </div>
                        <div class="widget-block d-flex">
                            <div class="widget-block-item">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-view.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-view.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-view.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">Ocean View</div>
                            </div>
                            <div class="widget-block-item">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-bed.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-bed.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-bed.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">King Bed</div>
                            </div>
                        </div>
                        <div class="widget-block d-flex">
                            <div class="widget-block-item">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-smoke.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-smoke.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-smoke.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">Non Smoking</div>
                            </div>
                            <div class="widget-block-item">
                                <div class="widget-block-item-image">
                                    <picture>
                                        <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/room-shower.webp" type="image/webp">
                                        <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/room-shower.webp" type="image/webp">
                                        <img loading="lazy" src="<?php echo $static_url ?>images/room-shower.png" alt="background images slide" width="41" height="38" class="">
                                    </picture>
                                </div>
                                <div class="widget-block-item-title">Shower</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="room-price">
                    <div class="room-price-title">
                        <span class="detail-room-price-sub" >FROM</span>
                    </div>
                    <div class="room-price-title">
                        <span class="detail-room-price-title">$149</span>
                    </div>
                </div>
                <div class="detail-checking">
                    <form action="" class="form-checking">
                        <div class="checking-wrap-content">
                            <div class="checking-field checking-datepicker-wrap">
                                <label for="checking-check-in" class="checking-field-title">Check In</label>
                                <div class="checking-datepicker-wrap">
                                    <input type="text" id="checking-check-in" class="checking-datepicker datepicker" autocomplete="off"  value="<?php echo date("d M Y") ?>">
                                </div>

                            </div>
                            <div class="checking-field checking-combobox">
                                <label for="checking-night-number" class="checking-field-title">Nights</label>
                                <div class="checking-combobox-wrap">
                                    <select name="checking-night-number" id="checking-night-number" class="checking-select-box">
                                        <?php for ($i=1; $i< 10; $i++): ?>
                                            <option value="<?php echo $i ?>"><?php echo $i?></option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="checking-field checking-datepicker-wrap">
                                <label for="checking-check-out" class="checking-field-title">Check Out</label>
                                <div class="checking-datepicker-wrap">
                                    <input type="text" id="checking-check-out" class="checking-datepicker datepicker"  autocomplete="off" value="<?php echo date("d M Y") ?>">
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="checking-field checking-combobox check-room mt-5" >
                                <label for="checking-room-number" class="checking-field-room">ROOM</label>
                                <div class="checking-combobox-wrap">
                                    <select name="checking-adult-number" id="checking-room-number" onchange="changeRoomsSelect(this)" class="checking-select-box">
                                        <?php for ($i=1; $i< 10; $i++): ?>
                                            <option value="<?php echo $i ?>"><?php echo $i?></option>
                                        <?php endfor; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="room-user-checking" id="room-user-checking">
                                <div class="room-user-select" id="room-user-select">
                                    <div class="title-room-select">ROOMS 1</div>
                                    <div class="checking-field checking-combobox check-room" >
                                        <label for="checking-adult-number" class="checking-field-title">Adults</label>
                                        <div class="checking-combobox-wrap">
                                            <select name="checking-adult-number" id="checking-adult-number" class="checking-select-box">
                                                <?php for ($i=0; $i< 10; $i++): ?>
                                                    <option value="<?php echo $i ?>"><?php echo $i?></option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="checking-field checking-combobox check-room">
                                        <label for="checking-children-number" class="checking-field-title">Children</label>
                                        <div class="checking-combobox-wrap">
                                            <select name="checking-children-number" id="checking-children-number" class="checking-select-box">
                                                <?php for ($i=0; $i< 10; $i++): ?>
                                                    <option value="<?php echo $i ?>"><?php echo $i?></option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="checking-submit">
                                <input type="submit" class="checking-button-submit mt-4" value="Check Availability">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="detail-cotent-text " class="mb-5">
    <div class="container">
        <div class="col-12">
            <div class="detail-content-text-title">
                <p style="color: #2b2b2b; font-size: 20px; font-weight: 400; text-transform: uppercase; letter-spacing: 2.5px;">ROOM OVERVIEW</p>
                <p style="color: #808080">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me.</p>
                <p style="color: #808080">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox a</p>
            </div>
        </div>
    </div>
</section>
