<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<div class="element-section-wrap">
    <div class="element-section-wrap-slide">
        <div class="element-layer-1">
            SEARCH RESULTS
        </div>
        <div class="element-layer-3">
            hotel
        </div>
    </div>
</div>
<section id="page-blog" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="836" height="324" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-date">
                                    <div class="blog-date-day">28</div>
                                    <div class="blog-date-month">AUG</div>
                                </div>
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="400" height="300" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="400" height="300" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="400" height="300" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="400" height="300" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="blog-item mb-5">
                            <div class="blog-item-image">
                                <picture>
                                    <source  media="(max-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <source  media="(min-width:540px)" srcset="<?php echo $static_url ?>images/blog/gallery-chair-980x380.webp" type="image/webp">
                                    <img loading="lazy" src="<?php echo $static_url ?>images/blog/gallery-chair-980x380.jpg" alt="background images slide" width="400" height="300" class="auto-size">
                                </picture>
                            </div>
                            <div class="blog-item-info-wrap d-flex mt-4">
                                <div class="blog-item-content">
                                    <div class="blog-item-info">
                                        <a href="/" title="John Smith" class="blog-item-info-title"><i class="ic ic-pencil"></i> John Smith</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-comment"></i> 0</a>
                                        <a href="/" title="Comment" class="blog-item-info-title"><i class="ic ic-folder"></i> Blog, Fit Row</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-title">
                                        <a href="/" title="A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY" class="blog-item-title-link">A WIZARD’S JOB IS TO VEX CHUMPS QUICKLY</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="blog-item-decs-short">
                                        <p>I neglect my talents Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named...</p>
                                    </div>
                                    <a class="blog-item-link" href="/">Continue Reading <i class="ic ic-next-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="pagination">
                            <a class="prev page-numbers" href="/">‹ Previous</a>
                            <a class="page-numbers" href="/">1</a>
                            <span aria-current="page" class="page-numbers current">2</span>
                            <a class="page-numbers" href="/">3</a>
                            <a class="next page-numbers" href="/">Next ›</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="blog-search">
                    <form>
                        <input type="text" name="blog-search" class="input-blog-search" placeholder="Type keywords">
                        <input type="submit" id="blog-search-submit" value="">
                    </form>

                </div>

                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">ARCHIVES</div>
                </div>
                <div class="blog-recent">
                    <ul id="recentcomments">
                        <li class="recentcomments-item "><span> <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span><a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                        <li class="recentcomments-item "><span> <a class="blog-recent-link" href="/" title="title">Sem Porta Mollis Parturient</a></span></li>
                    </ul>
                </div>
                <div class="blog-tag-widget ">
                    <div class="blog-text-widget-title">CALENDAR</div>
                </div>


                <div id="calendar" class="calendar">
                    <div class="calendar-title">
                        <div class="calendar-title-text"></div>
<!--                        <div class="calendar-button-group">-->
<!--                            <button id="prevMonth">&lt;</button>-->
<!--                            <button id="today">Today</button>-->
<!--                            <button id="nextMonth">&gt;</button>-->
<!--                        </div>-->
                    </div>
                    <div class="calendar-day-name"></div>
                    <div class="calendar-dates"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>-->
