<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="about-us">
    <div class="container container-about">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="about-us-content">
                    <div class="about-us-content-company">NEW CENTURY</div>
                    <div class="about-us-content-title">Giới thiệu</div>
                    <div class="about-us_line"></div>
                    <div class="about-us-content-text">
                        <p>Tọa lạc tại đồi Robin (đồi Đống Đa) và cách chợ Đà Lạt chỉ 3km, New Century có tầm nhìn trọn vẹn bao quát được thành phố xen giữa núi non trùng điệp tạo nên một bức tranh phong cảnh hữu tình.</p>
                        <p>Với phong cách kiến trúc hiện đại, chúng tôi tạo nên New Century với mỗi chi tiết nội thất cũng giống như một tác phẩm nghệ thuật, luôn cần có không gian riêng, vừa nổi bật vừa hòa hợp với tổng thể. Khách sạn cao đến 6 tầng và có 45 phòng nghỉ được trang bị đầy đủ tiện nghi sang trọng đẳng cấp, đồng thời các phòng nghỉ đều được thiết kế khác biệt hoàn toàn với nhau, điều này giúp mỗi khách lưu trú được trải nghiệm không gian khác nhau mỗi lần ghé thăm. Ngoài ra, tại New Century, chúng tôi tạo nên những “góc đặc biệt”, mỗi góc là một view “sống ảo" có 1 0 2 mà bạn sẽ khó tìm được tại bất cứ nơi đâu.</p>
                        <p>Với lòng hiếu khách nồng nhiệt, dịch vụ tận tình và chu đáo, chúng tôi chào đón bạn đến với một không gian sang trọng, tiện nghi và tầm nhìn trọn vẹn tại thành phố ngàn hoa xinh đẹp.</p>
<!--                        <p>Sản phẩm của chúng tôi chỉ được làm từ gỗ xẻ sấy chất lượng cao nhất hiện có. Chúng tôi chọn loại gỗ tốt nhất để nó giữ được sự biến đổi tự nhiên về màu sắc, thớ gỗ và kết cấu. Để duy trì các tiêu chuẩn chất lượng cao của chúng tôi, chúng tôi sử dụng các thanh và đường ray được thiết kế kỹ thuật cùng với các tấm kỹ thuật hoặc rắn. Tuy nhiên, chúng tôi sẽ đóng cửa bằng gỗ nguyên khối hoàn toàn nếu khách hàng yêu cầu cụ thể.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-us-image">
                    <picture>
                        <source media="(max-width:576px)" srcset="<?php echo $static_url?>/v2/images/about/about-01.webp" type="image/webp">
                        <img src="<?php echo $static_url?>/v2/images/about/about-01.jpg" width="125" height="150"  title="New Century Hotel" alt="New Century Hotel"  loading="lazy" class="img-cover">
                    </picture>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-3">
                <div class="about-us-quality">
                    <div class="about-us-quality-icon">
                        <div class="about-us-quality-icon_content">
                            <img title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/icon/check-white.svg" width="21" height="21" class="auto-size">
                        </div>
                    </div>
                    <div class="about-us-quality-title">Chất lượng</div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-us-quality">
                    <div class="about-us-quality-icon">
                        <div class="about-us-quality-icon_content">
                            <img title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/icon/like-white.svg" width="21" height="21" class="auto-size">
                        </div>
                    </div>
                    <div class="about-us-quality-title">Dịch vụ</div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-us-quality">
                    <div class="about-us-quality-icon">
                        <div class="about-us-quality-icon">
                            <div class="about-us-quality-icon_content">
                                <img title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/icon/star-white.svg" width="21" height="21" class="auto-size">
                            </div>
                        </div>
                    </div>
                    <div class="about-us-quality-title">Chuyên nghiệp</div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-us-quality">
                    <div class="about-us-quality-icon">
                        <div class="about-us-quality-icon">
                            <div class="about-us-quality-icon_content">
                                <img title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/icon/leaf-white.svg" width="21" height="21" class="auto-size">
                            </div>
                        </div>
                    </div>
                    <div class="about-us-quality-title">Tận tâm</div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="our-hotel">
    <div class="container container-about">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="demo-gallery">
                    <ul id="lightgallery">
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5734.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5734.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5734.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5734.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img  title="New Century Hotel" alt="New Century Hotel" src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5737.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5737.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5737.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5737.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img  title="New Century Hotel" alt="New Century Hotel" src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5739.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5739.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5739.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5739.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img  title="New Century Hotel" alt="New Century Hotel" src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5741.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5741.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5741.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5741.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img  title="New Century Hotel" alt="New Century Hotel" src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5742.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5742.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5742.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5742.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                        <li data-responsive="<?php echo $static_url?>v2/images/about/NDT_5743.jpg" data-src="<?php echo $static_url?>v2/images/about/NDT_5743.jpg"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                            <a href="#">
                                <picture>
                                    <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5743.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive auto-size" width="300" height="300" src="<?php echo $static_url?>v2/images/about/NDT_5743.jpg" loading="lazy">
                                </picture>

                                <div class="demo-gallery-poster">
                                    <img title="New Century Hotel" alt="New Century Hotel"  src="<?php echo $static_url?>v2/images/zoom.png" loading="lazy">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="our-hotel-content">
                    <div class="our-hotel-content_title">
                        VỊ TRÍ ĐẮC ĐỊA
                    </div>
                    <div class="about-us_line"></div>
                    <div class="our-hotel-content_text">
                        <p>Nằm trên đồi Robbin (đồi Đống Đa) - đây là một trong bốn ngọn đồi cao nhất tại Đà Lạt hiện nay, đồi nằm trên trục đường đèo Prenn nên bạn có thể ngắm thành phố sương mù từ trên cao và tận hưởng không khí mát mẻ trong lành của núi rừng. Một chuyện bạn nhất định phải làm khi đến với thành phố sương mù chính là dậy sớm và săn mây. Nếu đến nơi đây mà chưa một lần biết cảm giác săn mây hay nhìn ngắm những đám mây lơ lửng xung quanh, thì chuyến đi của bạn đã lỡ mất đi biết bao nhiêu điều thú vị.</p>
                        <p>Dọc theo con đường Đống Đa rồi đến Hà Huy Tập, bạn dễ dàng di chuyển đến Chợ Đà Lạt chỉ mất 10 phút để thưởng thức những món ăn đường phố hấp dẫn hay dạo chợ đêm để mua sắm sản vật địa phương. </p>
                        <p>Không những thế, từ khách sạn New Century, bạn còn dễ dàng để đi thăm quan các điểm lân cận như Cáp treo Đà Lạt, Thiền viện Trúc Lâm, Hồ Tuyền Lâm, Thác Prenn, Thác Datanla,....</p>
                    </div>
                    <div class="our-hotel-content_title">
                        TẦM NHÌN TRỌN VẸN
                    </div>
                    <div class="about-us_line"></div>
                    <div class="our-hotel-content_text">
                        <p>Từ cửa sổ ban công, khách lưu trú dễ dàng hướng tầm mắt ra xa để thỏa sức ngắm nhìn cả thành phố xen lẫn với các dãy đồi thông xa xa, vừa xua tan mệt mỏi giữa cuộc sống bộn bề, vừa nhìn ngắm cảnh đẹp lại còn có cơ hội tận hưởng không khí trong lành mát mẻ mà không cần phải bỏ ra chút sức lực nào là đã có thể tận hưởng hết cảnh đẹp của toàn thành phố.</p>
                        <p>Tại đây, buổi sáng bạn sẽ được ngắm mặt trời mọc rất thú vị, về đêm bạn sẽ thấy được một Đà Lạt tràn ngập ánh đèn lung linh xen lẫn nhiều màu sắc hòa cùng với làn sương mù mờ ảo huyền diệu, giúp bạn thư thả và bình yên giữa những bộn bề của cuộc sống.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="home-contact">
    <div class="container">
        <div class="row">
            <div class="home-contact_from">
                <div class="home-contact_title">New Century đang chờ đón bạn</div>
                <div class="home-contact_line"></div>
                <div class="home-contact_button">
                    <a href="#" class="d-flex justify-content-center align-items-center">
                        <!--                        <div class="home_contact_button_icon"><img src="v2/images/email-white.svg" width="25" height="25" loading="lazy"></div>-->
                        <div class="home_contact_button_link">Đặt phòng ngay</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
