<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<?php if ($this->detail['images_full']): ?>
    <style>
        #banner-images{
            background-image: url("<?php echo $static_url.$this->detail['images_full'] ?>");
        }
    </style>
<?php endif; ?>
<section id="banner-images">
</section>
<section id="main-wrap" class="page-tab grey-bg" >
    <div class="container py-5">
        <h2 class="title-intro">
            <?php echo $this->detail['title'] ?>
        </h2>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-11 col-12">
                <?php echo $this->detail['content'] ?>
            </div>
        </div>
    </div>
    <?php if ($this->list_related): ?>
        <div class="container">
            <h2 class="title-intro">
                Bài viết khác
            </h2>
            <div class="row justify-content-center">

                <?php foreach ($this->list_related as $key=>$item): ?>
                    <div class="col-12 col-md-4 my-3">
                        <div class="blog-item">
                            <div class="blog-item_image">
                                <picture>
                                    <?php if ($item['images_webp']): ?>
                                        <source srcset="<?php echo $static_url.$item['images_webp'] ?>" type="image/webp">
                                    <?php endif; ?>
                                    <img src="<?php echo $static_url.$item['images'] ?>"  title="<?php echo $item['title'] ?>" alt="<?php echo $item['title'] ?>"  width="500" height="500" class="auto-size-full object-fit-cover">
                                </picture>
                            </div>
                            <div class="blog-item_content">
                                <div class="blog-item_content_title">
                                    <a href="<?php echo $static_url ?>news/<?php echo $item['slug'] ?>.<?php echo $item['id'] ?>.html"><?php echo $item['title'] ?></a>
                                </div>
                                <div class="blog-item_content_decs"><?php echo $item['description'] ?></div>
                                <div class="blog-item_content_button">
                                    <a href="<?php echo $static_url ?>news/<?php echo $item['slug'] ?>.<?php echo $item['id'] ?>.html" class="btn_more">Chi tiết <i><span>&#x276F;</span></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    <?php endif; ?>

</section>
