<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="banner-images">
</section>
<?php if ($this->list_cate): ?>
    <section id="main-wrap" class="page-tab grey-bg" >
        <div class="container py-5">
            <div class="common-intro">
                <div class="common-intro_overlay">News Century Hotel</div>
                <div class="common-intro_title">ĐIỂM “CHECK-IN SỐNG ẢO” DÀNH CHO GIỚI TRẺ</div>
                <div class="common-intro_decs">Sự kết hợp giữa nội thất sang trọng, đẳng cấp cùng view trọn vẹn hướng về thành phố, New Century chỉ vừa xuất hiện ở thời gian gần đây nhưng được giới trẻ hiện nay lựa chọn là “điểm check-in lý tưởng” để sở hữu những bức ảnh sống ảo đặc sắc nhất.</div>
            </div>
            <div class="tab-wrap d-flex justify-content-center">
                <p class="tab-item <?php if ($this->actived==0){echo "active";} ?>" data-target="NewsTab0"><span>Tất cả</span></p>
                <?php foreach ($this->list_cate as $key=>$val): ?>
                    <p class="tab-item <?php if ($this->actived==$val['id']){echo "active";} ?>" data-target="NewsTab<?php echo $val['id'] ?>"><span><?php echo $val['title'] ?></span></p>
                <?php endforeach; ?>
            </div>
            <div class="tab-list" id="tab-list">
            <?php if (isset($this->list_suggestion)) {
                foreach ($this->list_suggestion as $items) {
                    foreach ($items as $item) {
                        echo $item['cateid'] . "<br>";
                    }
                }
            } ?>
                <?php if ($this->data_news): ?>
                    <?php foreach ($this->data_news as $key=>$val): ?>
                        <div class="tab-content <?php if ($this->actived==$key){echo "show";} ?>" id="NewsTab<?php echo $key ?>">
                            <div class="row">
                                <?php foreach ($val as $k=>$item): ?>
                                    <div class="col-12 col-md-4 my-3">
                                        <div class="blog-item">
                                            <div class="blog-item_image">
                                                <picture>
                                                    <?php if ($item['images_webp']): ?>
                                                        <source srcset="<?php echo $static_url.$item['images_webp'] ?>" type="image/webp">
                                                    <?php endif; ?>
                                                    <img src="<?php echo $static_url.$item['images'] ?>"  title="<?php echo $item['title'] ?>" alt="<?php echo $item['title'] ?>"  width="500" height="500" class="auto-size-full object-fit-cover">
                                                </picture>
                                            </div>
                                            <div class="blog-item_content">
                                                <div class="blog-item_content_title">
                                                    <a href="<?php echo $static_url ?>news/<?php echo $item['slug'] ?>.<?php echo $item['id'] ?>.html"><?php echo $item['title'] ?></a>
                                                </div>
                                                <div class="blog-item_content_decs"><?php echo $item['description'] ?></div>
                                                <div class="blog-item_content_button">
                                                    <a href="<?php echo $static_url ?>news/<?php echo $item['slug'] ?>.<?php echo $item['id'] ?>.html" class="btn_more">Chi tiết <i><span>&#x276F;</span></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
    </section>
<?php endif; ?>

