<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="banner-images">
</section>
<section id="main-wrap" class="page-tab grey-bg" >
    <div class="container py-5">
        <div class="common-intro">
            <div class="common-intro_overlay">new century</div>
            <div class="common-intro_title">PHÒNG HIỆN ĐẠI</div>
            <div class="common-intro_decs">Khám phá các phòng và dãy phòng rộng rãi của chúng tôi dưới đây</div>
        </div>
        <div class="tab-wrap d-flex justify-content-center">
<!--            <ul class="main-dropdown d-flex">-->

<!--                <li class="has-child-dropdown tab-item-title active"><span >Tất cả loại phòng</span>-->
<!--                    <ul class="main-dropdown-sub">-->
<!--                        <li>-->
<!--                            <p class="tab-item active" data-target="see-all"><span>See All</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="superior"><span>superior</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="deluxe"><span>deluxe</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="suite"><span>suite</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="accessible"><span>accessible</span></p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!---->
<!--                <li class="has-child-dropdown tab-item-title"><span >Phòng VIP</span>-->
<!--                    <ul class="main-dropdown-sub">-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="deluxe"><span>deluxe</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="suite"><span>suite</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="accessible"><span>accessible</span></p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!---->
<!--                <li class="has-child-dropdown tab-item-title"><span >Phòng thường</span>-->
<!--                    <ul class="main-dropdown-sub">-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="superior"><span>superior</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="deluxe"><span>deluxe</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="suite"><span>suite</span></p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p class="tab-item" data-target="accessible"><span>accessible</span></p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->

<!--            </ul>-->
            <p class="tab-item active" data-target="see-all"><span>All</span></p>
            <p class="tab-item" data-target="superior"><span>superior</span></p>
            <p class="tab-item" data-target="deluxe"><span>deluxe</span></p>
            <p class="tab-item" data-target="suite"><span>suite</span></p>
            <p class="tab-item" data-target="accessible"><span>accessible</span></p>
        </div>
        <div class="tab-list" id="tab-list">
            <div class="tab-content show" id="see-all">
                <div class="room-list">
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5734.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5734.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="<?php $base_url ?>/room" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5737.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5737.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5739.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5739.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5741.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5741.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5742.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5742.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/about/NDT_5743.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/about/NDT_5743.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="superior">
                <div class="room-list">
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5829.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/2/NDT_5829.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5833.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/2/NDT_5833.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5827.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room2/NDT_5827.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5824.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/2/NDT_5824.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5571.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/2/NDT_5571.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/2/NDT_5569.webp?v=4" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/2/NDT_5569.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content " id="deluxe">
                <div class="room-list">
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5810.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5810.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5806.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5806.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5803.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5803.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5802.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5802.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5791.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5791.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/3/NDT_5790.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/3/NDT_5790.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="suite">
                <div class="room-list">
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5669.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5669.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_size.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen-size Sofa bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/living_room.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Living Room</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>King Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>500 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5668.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5668.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5665.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5665.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5656.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5656.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5654.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5654.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/4/NDT_5617.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/4/NDT_5617.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content " id="accessible">
                <div class="room-list">
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5861.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5861.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5871.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5871.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5858.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5858.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5853.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5853.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-8 room-item_image_left">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5849.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5849.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 room-item_info_right">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="room-item py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 room-item_info_left">
                                <div class="room-item_info_content">
                                    <div class="room-item_info_content_title">
                                        <a href="#" class="room-title">SUPERIOR QUEEN</a>
                                        <p class="room-price">1.000.000đ</p>
                                    </div>
                                    <hr>
                                    <div class="room-features">
                                        <ul>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_bed.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>Queen Bed</span>
                                            </li>
                                            <li>
                                                <div class="room-features_icon">
                                                    <img src="<?php echo $static_url ?>/v2/images/room/queen_total.webp" width="24" height="24" class="auto-size">
                                                </div>
                                                <span>290 sq. ft.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="room-btn">
                                        <a href="#" class="btn btn--tertiary"><span>View<span class="room-btn-text"> Room</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 room-item_image_right">
                                <a href="#">
                                    <picture>
                                        <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5844.webp?v=3" type="image/webp">
                                        <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5844.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="500" height="500" class="auto-size-full object-fit-cover">
                                    </picture>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
