<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="contact-page">
    <div class="container container-contact">
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <div class="contact-page_content">
                    <div class="contact-page_content_sub">Hãy gọi New Century hôm nay</div>
                    <div class="contact-page_content_title">New Century đang chờ đón bạn</div>
                    <div class="contact-page_content_icon"></div>
                    <div class="contact-page_content_line"></div>
                    <p><strong>Tiếp tân:</strong>&nbsp;1900 299 222<br>
                        <strong>Hotline:</strong>&nbsp;<a href="tel:1900299222"></a>1900 299 222
                    </p>
                    <div class="contact-page_content_line"></div>
<!--                    <p><strong>BUSINESS HOURS<br>-->
<!--                        </strong><strong>Monday – Friday</strong> : &nbsp;9:00 am – 5:00 pm<br>-->
<!--                        <strong>Saturday</strong>:&nbsp;&nbsp;9am – 2pm<br>-->
<!--                        <strong>Sunday</strong>: Closed</p>-->
<!--                    <div class="contact-page_content_line"></div>-->
                    <p><strong>Địa chỉ<br>
                        </strong>14B Đống Đa, Phường 3, Đà Lạt, Vietnam
                    </p>

                    <div class="contact-page_content_line"></div>
                    <p><strong>Email:</strong>&nbsp;reservations@newcenturyhotel.vn<br>
                        <strong>Web:</strong>&nbsp;https://newcenturyhotel.vn/</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="contact-page_image">
                    <a href="#">
                        <div class="contact-page_image_liftup">
                            <picture>
                                <source srcset="<?php echo $static_url ?>v2/images/room/5/NDT_5858.webp?v=3" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/room/5/NDT_5858.jpg"  title="New Century Hotel" alt="New Century Hotel"  width="528" height="528" class="auto-size-width">
                            </picture>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11086.464602830705!2d106.69001957304422!3d10.760884464945761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1684404609739!5m2!1svi!2s" width="600" height="450" style="border:1px; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</section>
<section id="home-contact">
    <div class="container">
        <div class="row">
            <div class="home-contact_from">
                <div class="home-contact_title">New Century đang chờ đón bạn</div>
                <div class="home-contact_line"></div>
                <div class="home-contact_button">
                    <a href="#" class="d-flex justify-content-center align-items-center">
                        <!--                        <div class="home_contact_button_icon"><img src="v2/images/email-white.svg" width="25" height="25" loading="lazy"></div>-->
                        <div class="home_contact_button_link">Đặt phòng ngay</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
