<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<?php if (isset($this->list_banner) && $this->list_banner): ?>
    <section class="hero-text">
        <div class="slider-home">
            <div class="hero" data-arrows="true" data-autoplay="true">
                <!--.hero-slide-->
                <?php foreach ($this->list_banner as $key=>$item): ?>
                    <div class="hero-slide">
                        <picture>
                            <source media="(min-width:650px)" srcset="<?php echo $static_url.$item['images_webp'] ?>" type="image/webp">
                            <source media="(max-width:650px)" srcset="<?php echo $static_url.$item['imagesMb_webp'] ?>" type="image/webp">
                            <source srcset="<?php echo $static_url.$item['images'] ?>">
     <!--ảnh -->            <img title="<?php echo $item['title'] ?>" alt="<?php echo $item['title'] ?>" width="100%" height="calc(100% - 300px)" class="img-responsive cover" src="<?php echo $static_url.$item['imagesMb'] ?>" loading="lazy">
                        </picture>

                        <div class="header-content text-white position-absolute slide-content col-lg-4">
                            <div class="hero-slide-item">
                                <?php if ($item['title']): ?>
                                    <div class="hero-slide-title"><?php echo $item['title'] ?></div>
                                <?php endif; ?>
                                <?php if ($item['subTitle']): ?>
                                    <div class="hero-slide-title-sub"><?php echo $item['subTitle'] ?></div>
                                <?php endif; ?>
                            </div>

                        </div>
                    </div>
                <?php endforeach; ?>
            </div><!--.hero-->
        </div>
    </section>
<?php endif; ?>

<section id="intro-home" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-order-2">
                <div class="main-intro-img">
                        <picture>
                            <source srcset="<?php echo $static_url ?>v2/images/about_index.webp?v=1" type="image/webp">
                            <img src="<?php echo $static_url ?>v2/images/about_index.jpg" width="512" height="493"  title="New Century Hotel" alt="New Century Hotel"  class="auto-size" loading="lazy">
                        </picture>

                </div>
            </div>
            <div class="col-12 col-md-6 mb-order-1">
                <div class="main-intro-content">
                    <div class="main-intro-content-title">
                        <a href="<?php echo $base_url ?>about">
                            CHÀO MỪNG <br>
                            ĐẾN VỚI NEW CENTURY
                        </a>
                    </div>
                    <div class="main-intro-content-description">
                        <p>
                            Tọa lạc tại đồi Robin (đồi Đống Đa) và cách chợ Đà Lạt chỉ 3km, New Century có tầm nhìn trọn vẹn bao quát được thành phố xen giữa núi non trùng điệp tạo nên một bức tranh phong cảnh hữu tình.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home-room">
    <div class="container">
        <div class="row home-rooms-row">
            <div class="d-flex">
                <div class="home-room_left">
                    <div class="home-room_left_top"><a href="<?php echo $base_url ?>/product">Các loại phòng</a></div>
                    <div class="home-room_left_bottom">
                        <picture>
                            <source  srcset="<?php echo $static_url ?>v2/images/room_index.webp?v=1" type="image/webp">
                            <img src="<?php echo $static_url ?>v2/images/room_index.jpg" width="757" height="504"  title="New Century Hotel" alt="New Century Hotel"  class="auto-size" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="home-room_right">
                    <div class="home-room_right_intro_title">
                        THIẾT KẾ SANG TRỌNG
                    </div>
                    <div class="home-room_right_intro_decs">
                        <p>New Century được thiết kế theo phong cách kiến trúc hiện đại. Trải nghiệm tại đây, khách lưu trú cảm nhận được sự mới mẻ cùng thiết bị nội thất cực kỳ sang trọng và hiện đại bậc nhất.</p>
                    </div>
                    <div class="home-room_right_intro_button text-center">
                        <a href="/room" class="btn btn--primary"><span>Xem phòng</span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<?php if ($this->list_offer): ?>
    <section id="home-offers">
        <div class="container">
            <div class="row home-offers_header">
                <div class="home-offers_header_left">
                    <div class="home-offers_header_left_title"><a href="<?php echo $base_url ?>offer">Ưu đãi</a></div>
                </div>
                <div class="home-offers_header_right">
                    <a  href="/offer/" class="btn btn--tertiary--black">Xem ưu đãi</a>
                </div>
            </div>

            <div class="row">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <?php foreach ($this->list_offer as $key=>$item): ?>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="d-flex d-flex-column">
                                        <picture>
                                           <source  srcset="--><?php echo $static_url ?><!--v2/images/offer_1.webp?v=1" type="image/webp">
                                            <img title="<?php echo $item['title'] ?>" alt="<?php echo $item['title'] ?>" class="img-responsive cover" width="397" height="297" src="<?php echo $static_url ?><?php echo $item['images'] ?>" loading="lazy">
                                        </picture>
                                        <p class="offers-slider-title"><?php echo $item['title'] ?></p>
                                    </div>
                                </a>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>

        </div>
    </section>
<?php endif; ?>
<section id="home-amenities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 home-amenities_content">
                <div class="home-amenities_overline">ĐIỂM “CHECK-IN SỐNG ẢO” DÀNH CHO GIỚI TRẺ</div>
                <div class="home-amenities_title">New Century</div>
                <div class="home-amenities_decs"><p>Sự kết hợp giữa nội thất sang trọng, đẳng cấp cùng view trọn vẹn hướng về thành phố, New Century chỉ vừa xuất hiện ở thời gian gần đây nhưng được giới trẻ hiện nay lựa chọn là “điểm check-in lý tưởng” để sở hữu những bức ảnh sống ảo đặc sắc nhất.</p></div>
            </div>
            <div class="col-12 col-md-9">
                <div class="swiper mySwiperAmenities">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_1.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_1.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Tiện nghi
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_2.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_2.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Cao cấp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_4.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_4.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    View đẹp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_1.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_1.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Tiện nghi
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_2.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_2.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Cao cấp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_4.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_4.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    View đẹp
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Suggestion box -->
    <div class="container">
        <div class="row">
            <!-- <div class="col-12 col-md-3 home-amenities_content">
                <div class="home-amenities_overline">ĐIỂM “CHECK-IN SỐNG ẢO” DÀNH CHO GIỚI TRẺ</div>
                <div class="home-amenities_title">New Century</div>
                <div class="home-amenities_decs"><p>Sự kết hợp giữa nội thất sang trọng, đẳng cấp cùng view trọn vẹn hướng về thành phố, New Century chỉ vừa xuất hiện ở thời gian gần đây nhưng được giới trẻ hiện nay lựa chọn là “điểm check-in lý tưởng” để sở hữu những bức ảnh sống ảo đặc sắc nhất.</p></div>
            </div> -->
            <div class="col-12 col-md-12">
                <div class="swiper mySwiperAmenities">
                    <div class="swiper-wrapper">
                    <?php if (isset($this->list_suggestion)) {
                                    foreach ($this->list_suggestion as $items) {
                                        foreach ($items as $item) {
                                            ?>
                                            <div class="swiper-slide">
                                                <div class="d-flex d-flex-column content">
                                                    <picture>
                                                        <!-- <source  srcset="<?php echo $static_url ?>v2/images/image_1.webp?v=3" type="image/webp"> -->
                                                        <!-- <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_1.jpg?v=3" loading="lazy" width="372" height="448"> -->
                                                        <img title="New Century Hotel" alt="New Century Hotel" class="img-responsive cover" src="<?php echo $static_url . $item['images']; ?>" loading="lazy" width="372" height="448">

                                                    </picture>
                                                    <p class="offers-slider-title">
                                                        <?php
                                                        echo $item['title'] . "<br>";
                                                        ?>
                                                    </p>
                                                </div>
                                            </div>
                                            <?php
                                            
                                        }
                                    }
                                } ?>
                        
                        <!-- <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_2.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_2.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Cao cấp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_4.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel" class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_4.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    View đẹp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_1.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_1.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Tiện nghi
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_2.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_2.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    Cao cấp
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex d-flex-column content">
                                <picture>
                                    <source  srcset="<?php echo $static_url ?>v2/images/image_4.webp?v=3" type="image/webp">
                                    <img  title="New Century Hotel" alt="New Century Hotel"  class="img-responsive cover" src="<?php echo $static_url ?>v2/images/image_4.jpg?v=3" loading="lazy" width="372" height="448">
                                </picture>
                                <p class="offers-slider-title">
                                    View đẹp
                                </p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<?php if ($this->list_news): ?>
    <section id="home-attractions">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="home-attractions_text p-3">
<!--                        <div class="home-attractions_overline"><p>Tất cả những gì bạn cần đều có ở đây</p></div>-->
                        <div class="home-attractions_title"><p><a href="<?php echo $base_url ?>blog"><?php echo $this->list_news['title'] ?></a></p></div>
                    </div>
                    <div class="home-attractions_intro p-3" style="max-width: 100%; display: inline-block">
                        <div class="home-attractions_intro_content p-3" style="max-width: 100%; display: inline-block">
                            <p>
                                <?php echo $this->list_news['description'] ?>
                            </p>
                        </div>
                        <div class="home-attractions_intro_button p-3">
                            <a href="#" class="btn btn--tertiary" target="_blank">Xem chi tiết</a>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-md-6">
                    <div class="home-attractions_img p-3">
                        <picture>
<!--                            <source  srcset="--><?php //echo $static_url ?><!--v2/images/NDT_5742.webp?v=3" type="image/webp">-->
                            <img  title="<?php echo $this->list_news['title'] ?>" alt="<?php echo $this->list_news['title'] ?>"   src="<?php echo $static_url.$this->list_news['images'] ?>" width="100" height="100" class="auto-size" loading="lazy">
                        </picture>
                        <!--                <img src="v2/images/img2.webp" width="100" height="100" class="auto-size" loading="lazy">-->
                    </div>
                </div>
            </div>
<!--            <div class="d-md-flex">-->
<!--                <div class="home-attractions_text p-3">-->
<!--                    <div class="home-attractions_overline"><p>Tất cả những gì bạn cần đều có ở đây</p></div>-->
<!--                    <div class="home-attractions_title"><p><a href="--><?php //echo $base_url ?><!--blog">New century</a></p></div>-->
<!--                </div>-->
<!--                <div class="home-attractions_img p-3">-->
<!--                    <picture>-->
<!--                        <source  srcset="--><?php //echo $static_url ?><!--v2/images/NDT_5741.webp?v=3" type="image/webp">-->
<!--                        <img  title="New Century Hotel" alt="New Century Hotel"   src="--><?php //echo $static_url ?><!--v2/images/NDT_5741.jpg?v=3" width="100" height="100" class="auto-size" loading="lazy">-->
<!--                    </picture>-->
<!--                </div>-->
<!--                <div class="home-attractions_img p-3">-->
<!--                    <picture>-->
<!--                        <source  srcset="--><?php //echo $static_url ?><!--v2/images/NDT_5742.webp?v=3" type="image/webp">-->
<!--                        <img  title="New Century Hotel" alt="New Century Hotel"   src="--><?php //echo $static_url ?><!--v2/images/NDT_5742.jpg?v=3" width="100" height="100" class="auto-size" loading="lazy">-->
<!--                    </picture>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-md-flex home-attractions_intro p-3">-->
<!--                <div class="home-attractions_intro_content p-3">-->
<!--                    <p>-->
<!--                        Sáng tạo và sôi động, những con phố lịch sử của Tribeca được trang trí bằng nghệ thuật, các địa điểm ăn uống hấp dẫn và kiến ​​trúc đầy cảm hứng—chỉ cách Sông Hudson vài dãy nhà. Hãy tự nhiên như ở nhà tại một trong những khu dân cư nguyên bản của New York.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="home-attractions_intro_button p-3">-->
<!--                    <a href="#" class="btn btn--tertiary" target="_blank">Get Directions</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
<?php endif; ?>


<section id="home-contact">
    <div class="container">
        <div class="row">
            <div class="home-contact_from">
                <div class="home-contact_title">New Century đang chờ đón bạn</div>
                <div class="home-contact_line"></div>
                <div class="home-contact_button">
                    <a href="#" class="d-flex justify-content-center align-items-center">
<!--                        <div class="home_contact_button_icon"><img src="v2/images/email-white.svg" width="25" height="25" loading="lazy"></div>-->
                        <div class="home_contact_button_link"><a href="<?php echo $base_url ?>booking">
                            Đặt phòng ngay
                        </a></div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>