<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="banner-images">
</section>
<section id="main-offer" class="grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center py-5">
                <div class="title-offer">
                    ƯU ĐÃI ĐỘC QUYỀN
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pb-4">
                <div class="offer-item">
                    <div class="offer-item_image">
                        <a href="#">
                            <picture>
                                <source media="(max-width:576px)" srcset="<?php echo $static_url ?>/v2/images/about/NDT_5734.webp?v=3" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/about/NDT_5734.jpg" width="125" height="150" alt="title offer" loading="lazy" class="img-cover">
                            </picture>
                        </a>

                    </div>
                    <div class="offer-item-content">
                        <div class="offer-item-content_title">
                            <a href="">loại phòng EXTRA SUITE</a>
                        </div>
                        <div class="offer-item-content_sub">
                            <p>Tận hưởng một đêm miễn phí khi đặt ba đêm liên tiếp trong các phòng rộng rãi của chúng tôi.</p>
                        </div>
                        <div class="offer-item-content_button">
                            <a href="#" class="btn btn--tertiary"><span>Xem ưu đãi</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <div class="offer-item">
                    <div class="offer-item_image">
                        <a href="#">
                            <picture>
                                <source media="(max-width:576px)" srcset="<?php echo $static_url ?>/v2/images/about/NDT_5737.webp?v=3" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/about/NDT_5737.jpg" width="125" height="150" alt="title offer" loading="lazy" class="img-cover">
                            </picture>
                        </a>

                    </div>
                    <div class="offer-item-content">
                        <div class="offer-item-content_title">
                            <a href="">loại phòng EXTRA SUITE</a>
                        </div>
                        <div class="offer-item-content_sub">
                            <p>Tận hưởng một đêm miễn phí khi đặt ba đêm liên tiếp trong các phòng rộng rãi của chúng tôi.</p>
                        </div>
                        <div class="offer-item-content_button">
                            <a href="#" class="btn btn--tertiary"><span>Xem ưu đãi</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <div class="offer-item">
                    <div class="offer-item_image">
                        <a href="#">
                            <picture>
                                <source media="(max-width:576px)" srcset="<?php echo $static_url ?>/v2/images/about/NDT_5739.webp?v=3" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/about/NDT_5739.jpg" width="125" height="150" alt="title offer" loading="lazy" class="img-cover">
                            </picture>
                        </a>

                    </div>
                    <div class="offer-item-content">
                        <div class="offer-item-content_title">
                            <a href="">loại phòng EXTRA SUITE</a>
                        </div>
                        <div class="offer-item-content_sub">
                            <p>Tận hưởng một đêm miễn phí khi đặt ba đêm liên tiếp trong các phòng rộng rãi của chúng tôi.</p>
                        </div>
                        <div class="offer-item-content_button">
                            <a href="#" class="btn btn--tertiary"><span>Xem ưu đãi</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <div class="offer-item">
                    <div class="offer-item_image">
                        <a href="#">
                            <picture>
                                <source media="(max-width:576px)" srcset="<?php echo $static_url ?>/v2/images/about/NDT_5741.webp?v=3" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/about/NDT_5741.jpg" width="125" height="150" alt="title offer" loading="lazy" class="img-cover">
                            </picture>
                        </a>

                    </div>
                    <div class="offer-item-content">
                        <div class="offer-item-content_title">
                            <a href="">loại phòng EXTRA SUITE</a>
                        </div>
                        <div class="offer-item-content_sub">
                            <p>Tận hưởng một đêm miễn phí khi đặt ba đêm liên tiếp trong các phòng rộng rãi của chúng tôi.</p>
                        </div>
                        <div class="offer-item-content_button">
                            <a href="#" class="btn btn--tertiary"><span>Xem ưu đãi</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 offset-md-3 col-md-6 pb-4">
                <div class="offer-item">
                    <div class="offer-item_image">
                        <a href="#">
                            <picture>
                                <source media="(max-width:576px)" srcset="<?php echo $static_url ?>/v2/images/about/NDT_5742.webp" type="image/webp">
                                <img src="<?php echo $static_url ?>/v2/images/about/NDT_5742.jpg" width="125" height="150" alt="title offer" loading="lazy" class="img-cover">
                            </picture>
                        </a>

                    </div>
                    <div class="offer-item-content">
                        <div class="offer-item-content_title">
                            <a href="">loại phòng EXTRA SUITE</a>
                        </div>
                        <div class="offer-item-content_sub">
                            <p>Tận hưởng một đêm miễn phí khi đặt ba đêm liên tiếp trong các phòng rộng rãi của chúng tôi.</p>
                        </div>
                        <div class="offer-item-content_button">
                            <a href="#" class="btn btn--tertiary"><span>Xem ưu đãi</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="home-contact">
    <div class="container">
        <div class="row">
            <div class="home-contact_from">
                <div class="home-contact_title">New Century đang chờ đón bạn</div>
                <div class="home-contact_line"></div>
                <div class="home-contact_button">
                    <a href="#" class="d-flex justify-content-center align-items-center">
                        <!--                        <div class="home_contact_button_icon"><img src="v2/images/email-white.svg" width="25" height="25" loading="lazy"></div>-->
                        <div class="home_contact_button_link">đặt phòng ngay</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
