<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<section id="main-wrap" class="page-tab grey-bg" >
    
    <div class="container py-5">
        <h2 class="title-intro">
            <?php echo $this->detail['title'] ?>
        </h2>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-11 col-12">
                <?php echo $this->detail['content'] ?>
            </div>
        </div>
    </div>
</section>
<section id="home-contact">
    <div class="container">
        <div class="row">
            <div class="home-contact_from">
                <div class="home-contact_title">New Century đang chờ đón bạn</div>
                <div class="home-contact_line"></div>
                <div class="home-contact_button">
                    <!-- <a href="#" class="d-flex justify-content-center align-items-center"> -->
<!--                        <div class="home_contact_button_icon"><img src="v2/images/email-white.svg" width="25" height="25" loading="lazy"></div>-->
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="home_contact_button_link" id ="dat-phong-button">
                                Thêm vào giỏ hàng ngay
                            </button>
                            <input type="hidden" id="loaiPhong" value="<?php echo $this->detail['detail']; ?>">
                            
                            <input type="hidden" id="data" value="<?php echo htmlspecialchars(json_encode($this->detail), ENT_QUOTES, 'UTF-8'); ?>">


                        </div>
                    <!-- </a> -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script> -->

