
</div>
<div id="checkout-loading" class="loading-content hide">
    <i class="ic-loading ic" aria-hidden="true"></i>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="/">New Century Hotel</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <ul>
        <li><a href="/admin/home/profile">Profile</a></li>
        <li><a href="/admin/home/logout">Thoát</a></li>
    </ul>
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js" defer></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    // $.widget.bridge('uibutton', $.ui.button)
</script>

<script src="/admin/js/common.js" defer></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<!-- daterangepicker -->
<script src="/admin/plugins/moment/moment.min.js" defer></script>
<script src="/admin/plugins/daterangepicker/daterangepicker.js" defer></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" defer></script>
<!-- Summernote -->
<script src="/admin/plugins/summernote/summernote-bs4.min.js" defer></script>
<!-- overlayScrollbars -->
<script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" defer></script>
<!-- Select2 -->
<script src="/admin/plugins/select2/js/select2.full.min.js" defer></script>
<!-- Bootstrap Switch -->
<script src="/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js" defer></script>
<!-- bs-custom-file-input -->
<script src="/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js" defer></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.js" defer></script>
<script>
    $(function () {
        $('.select2').select2()
        //Date and time picker
        $('#reservationdatetimestart').datetimepicker({ icons: { time: 'far fa-clock' } });
        $('#reservationdatetimeend').datetimepicker({ icons: { time: 'far fa-clock' } });
        $('#reservation').daterangepicker();
        $("input[data-bootstrap-switch]").each(function(){
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

        bsCustomFileInput.init();
    });
</script>
<?php echo $this->inlineScript(); ?>
</body>
</html>