<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Quản lý nội dung New Century Hotel</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/admin/plugins/select2/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.min.css">
    <?php echo $this->partial('home/css/main.phtml'); ?>
    <?php echo $this->headLink(); ?>
    <style>
        .brand-link .brand-image{
            margin-top: 3%;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="/v2/images/logo-05.svg" alt="Admin New century" height="auto" width="200">
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <!--            <li class="nav-item d-none d-sm-inline-block">-->
            <!--                <a href="index3.html" class="nav-link">Home</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item d-none d-sm-inline-block">-->
            <!--                <a href="#" class="nav-link">Contact</a>-->
            <!--            </li>-->
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item">
                <!--                <a class="nav-link" data-widget="navbar-search" href="#" role="button">-->
                <!--                    <i class="fas fa-search"></i>-->
                <!--                </a>-->
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                    <i class="far fa-bell"></i>-->
<!--                    <span class="badge badge-warning navbar-badge">15</span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
<!--                    <span class="dropdown-item dropdown-header">15 Notifications</span>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-envelope mr-2"></i> 4 new messages-->
<!--                        <span class="float-right text-muted text-sm">3 mins</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-users mr-2"></i> 8 friend requests-->
<!--                        <span class="float-right text-muted text-sm">12 hours</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-file mr-2"></i> 3 new reports-->
<!--                        <span class="float-right text-muted text-sm">2 days</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
<!--                </div>-->
<!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-th-large"></i>
<!--                    <span class="badge badge-warning navbar-badge">15</span>-->
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
<!--                    <span class="dropdown-item dropdown-header">15 Notifications</span>-->
                    <div class="dropdown-divider"></div>
                    <a href="/admin/home/logout" class="dropdown-item">
                        Thoát
<!--                        <i class="fas fa-envelope mr-2"></i> 4 new messages-->
<!--                        <span class="float-right text-muted text-sm">3 mins</span>-->
                    </a>
                    <div class="dropdown-divider"></div>
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-users mr-2"></i> 8 friend requests-->
<!--                        <span class="float-right text-muted text-sm">12 hours</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-file mr-2"></i> 3 new reports-->
<!--                        <span class="float-right text-muted text-sm">2 days</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
                </div>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">-->
<!--                    <i class="fas fa-th-large"></i>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/v2/images/logo-05.svg" alt="New Century" class="brand-image " >
            <span class="brand-text font-weight-light">New Century</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item <?php if ($this->menu_active=="products"){ echo "menu-open";}  ?> ">
                        <a href="#" class="nav-link <?php if ($this->menu_active=="products"){ echo "active";}  ?> ">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Quản lý phòng
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/home/cate-product" class="nav-link <?php if ($this->menu_sub_active=="cate_products"){ echo "active";}  ?> ">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh mục</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/home/list-products" class="nav-link <?php if ($this->menu_sub_active=="list_products"){ echo "active";}  ?> ">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách phòng</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item <?php if ($this->menu_active=="news"){ echo " menu-open";}  ?> ">
                        <a href="#" class="nav-link <?php if ($this->menu_active=="news"){ echo " active";}  ?> ">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Quản lý tin tức
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/news/list-cate" class="nav-link <?php if ($this->menu_sub_active=="cate_news"){ echo " active";}  ?> ">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh mục</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/news/list" class="nav-link <?php if ($this->menu_sub_active=="list_news"){ echo " active";}  ?> ">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách tin tức</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item <?php if ($this->menu_active=="banner"){ echo " menu-open";}  ?> ">
                        <a href="#" class="nav-link <?php if ($this->menu_active=="banner"){ echo " active";}  ?>">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Quản lý banner
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/banner/list-banner" class="nav-link <?php if ($this->menu_sub_active=="list_banner"){ echo " active";}  ?>">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách banner</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item <?php if ($this->menu_active=="booking"){ echo " menu-open";}  ?> ">
                        <a href="#" class="nav-link <?php if ($this->menu_active=="booking"){ echo " active";}  ?>">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Quản lý đặt phòng
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/booking/list-booking" class="nav-link <?php if ($this->menu_sub_active=="booking"){ echo " active";}  ?>">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách đặt phòng</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">



        <!-- /.content -->

