<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
?>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-md-8 offset-md-2">
                <h1 class="m-0"><?php if (isset($this->detail)){echo "Sửa";}else{ echo "Thêm";} ?> banner</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form onsubmit="submitAddBanner(this)" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin banner</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Tên banner</label>
                                <input type="text" name="title" id="inputName" value="<?php if(isset($this->detail['title'])) {echo $this->detail['title'];} ?>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputsubTitle">Sub banner</label>
                                <input type="text" name="subTitle" id="inputsubTitle" value="<?php if(isset($this->detail['subTitle'])) {echo $this->detail['subTitle'];} ?>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="groupType">Trang hiển thị</label>
                                <select name="groupType" id="group_type" class="form-control select2" style="width: 100%;" >
                                    <option value="0">Chọn trang hiển thị</option>
                                    <?php if (isset($this->data_pageshow) && $this->data_pageshow): ?>
                                        <?php foreach ($this->data_pageshow as $key=>$item): ?>
                                            
                                            <?php 
                                            $checked_row = "";

                                            if ((int)$this->detail['group_type']==(int)$key) {
                                                $checked_row = "selected";
                                            } ?>
                                            <option <?php echo $checked_row ?> value="<?php echo $key ?>"><?php echo $item ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Hình ảnh PC</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="images" class="custom-file-input" id="images">
                                        <label class="custom-file-label" for="images">Chọn file</label>
                                    </div>
                                </div>
                                <?php 
                                    if(isset($this->detail['images'])):?>
                                        <img src="<?php echo $static_url . $this->detail['images'] ."?v=" . strtotime($this->detail['updated']) ?>" width="200" height="200" style="height:auto" alt="hình PC">
                                <?php endif ?>
                            </div>
                            <div class="form-group">
                                <label for="imagesMb">Hình ảnh MB</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="imagesMb" class="custom-file-input" id="imagesMb">
                                        <label class="custom-file-label" for="imagesMb">Chọn file</label>
                                    </div>
                                </div>
                                <?php 
                                    if(isset($this->detail['imagesMb'])):?>
                                        <img src="<?php echo $static_url . $this->detail['imagesMb'] ."?v=" . strtotime($this->detail['updated']) ?>" width="200" height="200" style="height:auto" alt="hình Mobile">
                                <?php endif ?>
                            </div>
                            <div class="form-group">
                                <label for="inputOrder">STT</label>
                                <input type="text" name="myOrder" id="inputOrder" class="form-control" value="1">
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Trạng thái</label>
                                <div class="">
                                     <?php 
                                        $checked = "checked";
                                        if(isset($this->detail['enabled']) && $this->detail['enabled'] == 0){
                                            $checked = "";
                                        }
                                    ?>
                                    <input type="checkbox" name="status" value="1" <?php echo $checked?> data-bootstrap-switch>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <a href="/admin/banner/list" class="btn btn-secondary">Hủy</a>
                    <input type="hidden" value="<?php echo $this->token ?>" name="token">
                    <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                    <input type="submit" value="Lưu" class="btn-add btn btn-success float-right">
                </div>
            </div>
        </form>

    </div><!-- /.container-fluid -->
</section>
