<div class="container">
    <?php if (empty($this->data)): ?>
        <div class="no-result">
            <img src="<?php echo Globals::getStaticUrl(); ?>/images/icon/no_result.svg">
            <h2>Rất tiếc! Không có kết quả phù hợp</h2>
            <p> Vui lòng kiểm tra lại từ khoá, hoặc thử với một từ khoá khác :)</p>
        </div>
    <?php else: ?>
        <div class="search-wrapper">
            <div class="search-content custom-scrollbar">
                <?php foreach ($this->data as $group): ?>
                    <div class="list-item">
                        <h4><?php echo $group['title'] ;?>
                            <a href="<?php echo $group['link']?>" class="view-more">Xem thêm <i class="lazy-class ic" data-class="ic_chervon_right-orange"></i></a>
                        </h4>
                        <?php foreach ($group['data'] as $item):?>
                            <div class="item">
                                <div class="image search-news">
                                    <figure class="image-wrapper">
                                        <a href="<?php echo $item['link']; ?>">
                                            <picture>
                                                <?php if (isset($item['webp']) && $item['webp']): ?>
                                                    <source type="image/webp" srcset="<?php echo $item['webp']; ?>">
                                                <?php endif; ?>
                                                <source type="image/png" srcset="<?php echo $item['small_thumbnail']; ?>">
                                                <img src="<?php if (isset($item['small_thumbnail'])) echo $item['small_thumbnail']; ?>" alt="<?php echo $item['title']; ?>">
                                            </picture>
                                        </a>
                                    </figure>
                                </div>
                                <div class="info">
                                    <h4 class="name">
                                        <a href="<?php echo $item['link']; ?>">
                                            <?php if (isset($item['title'])) echo $item['title']; ?>
                                        </a>
                                    </h4>
                                    <?php if (isset($item['cost']) && $item['cost'] > 0): ?>
                                        <p class="price">
                                            <?php echo $item['cost_format']; ?>đ
                                            <?php if ($item['cost_base_format']): ?>
                                                <span><del><?php echo $item['cost_base_format']; ?>đ<del></span>
                                            <?php endif; ?>
                                        </p>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endforeach; ?>
            </div>
            <div class="bottom">
                <a href="<?php echo $this->linkall; ?>">Xem tất cả kết quả</a>
            </div>
        </div>
    <?php endif; ?>
</div>
