<?php
$item = $this->item;
?>
<div class="article size-medium">
    <a href="<?php echo $item['link']; ?>">
        <div class="image">
            <figure class="image-wrapper image-cover">
                <picture class="lazy-picture1">
                    <?php if (isset($item['webp']) && $item['webp']): ?>
                        <source type="image/webp" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo $item['webp']; ?>">
                    <?php endif; ?>
                    <source type="image/png" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo $item['thumbnail']; ?>">
                    <img data-src="<?php echo $item['thumbnail']; ?>" alt="<?php echo $item['title']; ?>">
                </picture>
            </figure>
        </div>
        <div class="info">
            <h3 class="title text-overflow"><?php echo $item['title']; ?></h3>
            <p><?php echo $item['seo_description']; ?></p>
            <div class="article-view">
                <div class="view-date"><i class="lazy-class ic" data-class="ic-time-ago"></i><?php echo $item['count']; ?> bài viết</div>
            </div>
        </div>
    </a>
</div>