<?php
$item = $this->item;
?>
<div class="video">
    <figure class="image-wrapper image-cover thumb">
        <a href="<?php echo $item['link']; ?>">
            <picture class="lazy-picture1">
                <?php if (isset($item['webp']) && $item['webp']): ?>
                    <source type="image/webp" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo  Globals::getStaticUrl().$item['webp']; ?>">
                <?php endif; ?>
                <source type="image/png" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo  Globals::getStaticUrl().$item['small_thumbnail']; ?>">
                <img data-src="<?php echo Globals::getStaticUrl().$item['small_thumbnail']; ?>" alt="<?php echo $item['title']; ?>">
            </picture>
        </a>
    </figure>
    <p class="video-title text-overflow">
        <a href="<?php echo $item['link']; ?>"><?php echo $item['title']; ?></a>
    </p>
    <div class="views">
        <div class="date"><i class="lazy-class ic" data-class="ic-time-ago"></i><?php echo $item['date_text']; ?></div>
        <div class="count"><i class="lazy-class ic" data-class="ic-view-count"></i> <?php echo $item['hits']; ?> lượt view</div>
    </div>
</div>