<?php
$item = $this->item;
?>
<div class="article">
    <a href="<?php echo $item['link']; ?>">
        <div class="image">
            <figure class="image-wrapper image-cover">
                <picture class="lazy-picture1">
                    <?php if (isset($item['webp']) && $item['webp']): ?>
                        <source type="image/webp" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo  Globals::getStaticUrl().$item['webp']; ?>">
                    <?php endif; ?>
                    <source type="image/png" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo  Globals::getStaticUrl().$item['small_thumbnail']; ?>">
                    <img data-src="<?php echo Globals::getStaticUrl().$item['small_thumbnail']; ?>" alt="<?php echo $item['title']; ?>">
                </picture>
            </figure>
        </div>
        <div class="info">
            <h3 class="title"><?php echo $item['title']; ?></h3>
        </div>
    </a>
</div>