<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
?>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><?php if (isset($this->detail)){echo "Sửa";}else{ echo "Thêm";} ?> danh mục tin tức</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form onsubmit="submitAddCateProducts(this)" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin danh mục</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Tên danh mục</label>
                                <input type="text" name="title" id="inputName" value="<?php if(isset($this->detail['title'])) {echo $this->detail['title'];} ?>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="parentId">Danh mục cha</label>
                                <select name="parentId" id="parentId" class="form-control select2" style="width: 100%;" >
                                    <option value="0">Chọn danh mục</option>
                                    <?php if (isset($this->listCate) && $this->listCate): ?>
                                        <?php foreach ($this->listCate as $key=>$item): ?>
                                            
                                            <?php 
                                            $checked_row = "";
                                            if ($this->detail['parrent_id']==$item['id']) {
                                                $checked_row = "selected";
                                            }
                                            if ($this->detail['id']==$item['id']) {
                                                continue;
                                            } ?>
                                            <option <?php echo $checked_row ?> value="<?php echo $item['id'] ?>"><?php echo $item['title'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Mô tả ngắn</label>
                                <textarea name="description" id="inputDescription"  class="form-control" rows="4"><?php if(isset($this->detail['description'])) {echo $this->detail['description'];} ?></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Hình ảnh đại diện</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="images" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Chọn file</label>
                                    </div>
                                </div>
                                <?php 
                                    if(isset($this->detail['images'])):?>
                                    <img src="<?php echo $static_url . $this->detail['images'] ."?v=" . strtotime($this->detail['updated']) ?>" width="200" height="200" style="height:auto" alt="hình đại diện">
                                <?php endif ?>
                            </div>
                            <div class="form-group">
                                <label for="inputOrder">STT</label>
                                <input type="text" name="myOrder" id="inputOrder" class="form-control" value="<?php if(isset($this->detail['myorder'])) {echo $this->detail['myorder'];} else {echo 0;}  ?>">
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Trạng thái</label>
                                <div class="">
                                    <?php 
                                        $checked = "checked";
                                        if(isset($this->detail['enabled']) && $this->detail['enabled'] == 0){
                                            $checked = "";
                                        }
                                    ?>
                                    <input type="checkbox" name="status" value="1" <?php echo $checked?> data-bootstrap-switch>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin SEO</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="metaTilte">Meta title</label>
                                <input type="text" name="metaTilte" value="<?php if(isset($this->detail['meta_title'])) {echo $this->detail['meta_title'];} ?>" id="metaTilte" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="metaDescription">Meta Description</label>
                                <textarea name="metaDescription"  id="metaDescription" class="form-control" rows="4"><?php if(isset($this->detail['meta_description'])) {echo $this->detail['meta_description'];} ?></textarea>
                            </div>
                            <div class="form-group">
                                <label for="imagesSocal">Hình ảnh Social</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="imagesSocal" class="custom-file-input" id="imagesSocal">
                                        <label class="custom-file-label" for="exampleInputFile">Chọn file</label>
                                    </div>
                                </div>
                                <?php 
                                    if(isset($this->detail['imagesSocial'])):?>
                                    <img src="<?php echo $static_url . $this->detail['imagesSocial'] ."?v=" . strtotime($this->detail['updated']) ?>" width="200" height="200" style="height:auto" alt="hình ảnh Social">
                                <?php endif ?>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="https://www.hnammobile.com/admin/home" class="btn btn-secondary">Hủy</a>
                    <input type="hidden" value="<?php echo $this->token ?>" name="token">
                    <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                    <input type="hidden" value="2" name="group_cate">
                    <input type="submit" value="Lưu" class="btn-add btn btn-success float-right">
                </div>
            </div>
        </form>

    </div><!-- /.container-fluid -->
</section>
