
<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<style>
    .booking-table {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 0 auto;
        width: 80%;
    }

    .booking-table .form-group {
        margin-bottom: 15px;
    }

    .booking-table label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .booking-table input[type="text"],
    .booking-table select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn-success {
        background-color: green;
        color: white;
    }

    .btn-danger {
        background-color: red;
        color: white;
    }

    .btn-add {
        float: right;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form onsubmit="submitAddBooking(this)" id="detail-form" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card card-primary booking-table">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin đặt phòng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputCustomerName">Tên khách hàng</label>
                                <input type="text" name="customername" id="inputCustomerName" value="<?php if(isset($this->detail['customername'])) {echo $this->detail['customername'];} ?>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputPhone">SĐT</label>
                                <input type="text" name="phone" id="inputPhone" inputmode="numeric" value="<?php if(isset($this->detail['phone'])) {echo $this->detail['phone'];} ?>" class="form-control">
                            </div>
                            <!-- <div class="form-group">
                                <label for="parentId">Loại phòng</label>
                                <select name="parentId" id="parentId" class="form-control select2" style="width: 100%;">
                                    <option value="0">Chọn loại phòng</option>
                                    <?php if (isset($this->list_cate_product) && $this->list_cate_product): ?>
                                        <?php foreach ($this->list_cate_product as $key=>$item): ?>
                                            <?php
                                            $checked_row = "";
                                            if ($this->detail['parent_id']==$item['id']) {
                                                $checked_row = "selected";
                                            } ?>
                                            <option <?php echo $checked_row ?> value="<?php echo $item['id'] ?>"><?php echo $item['title'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div> -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <a href="https://www.hnammobile.com/admin/home" class="btn btn-danger">Hủy</a>
                    <input type="hidden" value="<?php echo $this->token ?>" name="token">
                    <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                    <input type="submit" value="Lưu" class="btn-add btn btn-success">
                </div>
            </div> -->
            <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <a href="https://www.hnammobile.com/admin/home" class="btn btn-danger" style="font-size: 20px;">Hủy</a>
                                <input type="hidden" value="<?php echo $this->token ?>" name="token">
                                <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                                <input type="submit" value="Lưu" class="btn-add btn btn-success btn-lg" style="font-size: 20px;">
                            </div>
                        </div>
            </div>
        </form>
    </div><!-- /.container-fluid -->
</section>
