
<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<style>
    .card-header {
      border: 1px solid #ccc;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card card-primary booking-table">
                        <div class="card-header" >
                            <h1 class="card-title" >Đặt hàng thành công</h1>
                        </div>
                        
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                
            </div>

            <div class="card-footer">

