<style>
    .input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
        font-size: 16px;
        height: calc(2.3rem + 2px);
    }
    .input-group-lg>.input-group-append>.btn{
        padding: 5px 10px;
        font-size: 17px;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh mục sản phẩm</h1>
            </div><!-- /.col -->
                    <div class="col-sm-6 ">
                        <a href="/admin/home/edit-cate-product" class="btn btn-sm-app bg-success float-sm-right">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
<!--        <form method="get">-->
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
<!--                        <div class="col-3">-->
<!--                            <div class="form-group">-->
<!--                                <label>Date range:</label>-->
<!---->
<!--                                <div class="input-group">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <span class="input-group-text">-->
<!--                                            <i class="far fa-calendar-alt"></i>-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                    <input type="text" class="form-control float-right" id="reservation">-->
<!--                                </div>-->
<!--                                <!-- /.input group -->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="col-6">
                            <div class="form-group">
                                <label>Trạng thái:</label>
                                <select class="select2" id="status" name="status" style="width: 100%;" >
                                    <option selected="selected" value="1" >Hiển thị</option>
                                    <option value="0">Tắt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Tìm kiếm theo tên:</label>
                                <div class="input-group input-group-lg">

                                    <input type="search" id="search" class="form-control form-control-lg" placeholder="Tìm kiếm theo tên" value="">
                                    <div class="input-group-append">
                                        <button type="submit" onclick="loadDataTableGet()" class="btn btn-lg btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
<!--        </form>-->

        <div class="row">
            <div class="col-12">
                <div class="card">
<!--                    <div class="card-header">-->
<!--                        <h3 class="card-title">DataTable with default features</h3>-->
<!--                    </div>-->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableCate" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                                <?php if ($this->listCate): ?>
                                    <?php foreach ($this->listCate as $key=>$item): ?>
                                        <?php
                                        if ($item['enabled']==1){

                                            $status = '<input class="status-changes" data-token="'.md5("NewCenruryAbcdqwerCate".$item['id']).'" data-id="'.$item['id'].'" type="checkbox" id="status'.$item['id'].'" name="status'.$item['id'].'" value="1" checked data-bootstrap-switch>';
                                        }else{
                                            $status='<input class="status-changes" type="checkbox" data-token="'.md5("NewCenruryAbcdqwerCate".$item['id']).'" data-id="'.$item['id'].'" id="status'.$item['id'].'" name="status'.$item['id'].'" value="1" data-bootstrap-switch>';
                                        }
                                        ?>
                                        <tr>
                                            <td><?php echo $key++; ?></td>
                                            <th><a href="/admin/home/edit-cate-product?id=<?php echo $item['id'] ?>"><?php echo $item['full_raw_title'] ?></a></th>
                                            <th><?php echo $status ?></th>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                <tr><td colspan="3"></td></tr>
                                <?php endif; ?>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Trạng thái</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>