<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$_general = Business_Addon_General::getInstance();
?>
<style>
    /* CSS cho table */
    .table-custom {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table-custom th,
    .table-custom td {
        padding: 10px;
        border: 1px solid #ccc;
    }
    
    .table-custom thead th {
        background-color: #f5f5f5;
        font-weight: bold;
    }
    
    .table-custom tbody td {
        background-color: #fff;
    }
    
    .table-custom tfoot th {
        background-color: #f5f5f5;
        font-weight: bold;
    }


    #clearLocalStorage {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    #delete-button {
        color: red;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


 /* CSS cho table */
 /* CSS cho table */
 .table-custom {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table-custom th,
    .table-custom td {
        padding: 10px;
        border: 1px solid #ccc;
    }
    
    .table-custom thead th {
        background-color: #f5f5f5;
        font-weight: bold;
        cursor: pointer; /* Thêm thuộc tính cursor để chỉ định con trỏ khi hover vào ô */
    }
    
    .table-custom tbody td {
        background-color: #fff;
    }

    /* CSS cho các dòng thông tin khách hàng */
    .customer-info-row {
        display: none;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        max-height: 0;
    }

    .customer-info-row.open {
        display: table-row;
        max-height: 500px; /* Điều chỉnh độ cao tối đa của dòng khi mở */
    }

    
</style>

<!--  -->

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-center">Thông tin giỏ hàng</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <form onsubmit="checkOut(this)" id="detail-form" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableNews" class="table-custom">
                                <thead>
                                    <tr class="text-center">
                                        <th>STT</th>
                                        <th>Hình mô tả</th>
                                        <th>Tên phòng</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php
                                    $i =1;
                                    $total = 0;
                                    $existingIds = []; // Mảng để lưu trữ các 'id' đã xuất hiện
                                    if (isset($this->arrayData) && count($this->arrayData) > 0) {
                                        foreach ($this->arrayData as $data) {
                                            $id = $data[0]['id'];
                                            // Kiểm tra xem 'id' đã tồn tại trong mảng $existingIds hay chưa
                                            if (!in_array($id, $existingIds)) {
                                                $existingIds[] = $id; 

                                                ?>
                                                <tr class="text-center" data-id="<?php echo $id; ?>">
                                                    <td><?php echo $i++ ?></td>
                                                    <td><img src="http://newcentury.xyz/<?php echo $data[0]['images'] ?>" alt="Product Image"></td>
                                                    <td><?php echo $data[0]['title']; ?></td>
                                                    <td><?php echo $data[0]['price']; ?> VNĐ</td>
                                                    <td>
                                                        <button type="button" class="decrement" onclick="decrementCount(this, <?php echo $data[0]['id']; ?>)"> - </button>
                                                        
                                                        <span class="quan" data-min="1">
                                                            <?php echo $count =  $data[0]['quantity']; ?>
                                                        </span>                                                  
                                                        <button type="button" class="increment" onclick="incrementCount(this, <?php echo $data[0]['id']; ?>)"> + </button>
                                                    </td>

                                                    
                                                    
                                                    <td class="rowTotal"><?php echo $rowTotal = $count * $data[0]['price']; ?> VNĐ</td>
                                                    <input type="hidden" id="dongia_<?php echo $id; ?>" value="<?php echo $data[0]['price']; ?>">

                                                    <td>
                                                        <button id ="delete-button" onclick="deleteRow(<?php echo $id; ?>)">X</button>
                                                    </td>
                                                </tr>
                                                <?php
                                                $total = $total + $rowTotal;
                                                // if (!isset($_COOKIE['total'])) {
                                                //     $totalAll = $totalAll + ($data[0]['price'] * $count);
                                                // }
                                            }
                                        
                                        }

                                    } 
                                    if ($total > 0) {
                                        // echo '<tr class="text-center"><td colspan="6" style="text-align: right;"><strong>Tổng cộng:</strong></td><td>'.$total.' VNĐ</td></tr>';
                                        // if ($total != 0) {
                                        //     $total = $total;
                                            // setcookie('total', $totalAll, time() + 3600, '/');
                                            
                                            
                                        // } else {
                                        //     $total = $totalAll;
                                        //     setcookie('total', $total, time() + 3600, '/');                                       
                                            
                                        // }
                                            echo '<tr class="text-center"><td colspan="6" style="text-align: right;"><strong>Tổng cộng:</strong></td><td id="totalValue" data-total="'.$total.'">'.$total.' VNĐ</td></tr>';

                                            echo '<input type="hidden" id="totalValue" name="total" value="'.$total.'">';
                                            echo '<input type="hidden" name="arrayData" value="'.htmlspecialchars(json_encode($this->arrayData)).'">';
                                    }
                                    else {
                                        echo "<h2 style='font-size: 18px;'>Giỏ hàng trống!</h2>";
                                    }
                                    
                                ?>
                                </tbody>
                            </table>
                            <?php
                           if (isset($_COOKIE['thong-tin-dat-phong']) && $_COOKIE['thong-tin-dat-phong'] !== '{}') {                        
                                            
                            ?>
                            <table id="tableCustomer" class="table-custom">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="2">Điền thông tin đặt hàng</th>
                                </tr>
                            </thead>
                            <tbody id="customerInfo">
                                <tr class="customer-info-row">
                                    <td>Họ và tên</td>
                                    <td><input type="text" name="customername" id="inputCustomerName" value="<?php if(isset($this->detail['customername'])) {echo $this->detail['customername'];}?>" class="form-control" required></td>
                                </tr>
                                <tr class="customer-info-row">
                                    <td>Điện thoại:</td>
                                    <td><input type="text" name="phone" id="inputPhone" inputmode="numeric" value="<?php if(isset($this->detail['phone'])) {echo $this->detail['phone'];}?>" class="form-control" required></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" value="Đặt hàng" class="btn-add btn btn-success btn-lg" style="font-size: 20px;">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                                <?php

                            }
                            ?>
                            <div>
                                <button id="clearLocalStorage" onclick="clearLocalStorageConfirmation()">Xóa hết</button>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                            </div>
                        </div>
                    </div>
        </form>
    </div><!-- /.container-fluid -->

</section>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js">


// Mã JavaScript trong cặp thẻ PHP

