<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
?>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        font-weight: bold;
    }

    tfoot tr {
        font-weight: bold;
    }
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-md-8 offset-md-2">
                <h1 class="m-0"><?php if (isset($this->detail)){echo "Sửa";}else{ echo "Thêm";} ?>thông tin đặt phòng</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form onsubmit="submitAddBooking(this)" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin đặt phòng</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputCustomername">Tên khách hàng</label>
                                <input type="text" name="customername" id="inputCustomername" value="<?php if(isset($this->detail['customername'])) {echo $this->detail['customername'];} ?>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputPhone">Số điện thoại đặt hàng</label>
                                <input type="number" name="phone" id="inputPhone" value="<?php if(isset($this->detail['phone'])) {echo $this->detail['phone'];} ?>" class="form-control" maxlength="10">
                            </div>
                            <?php
                            // Nhận chuỗi JSON từ biến $response
                            $data = json_decode($this->detail['dsMuaHang'], true);
                            ?>

                            <label for="inputdsMuaHang">Danh sách phòng đã đặt</label>
                           <table >
                                <thead>
                                    <tr style="text-align: center;">
                                        <th>Mã phòng</th>
                                        <th>Tên phòng</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    

                                    foreach ($data as $item) {
                                        $totalPrice = 0; // Biến lưu trữ tổng giá trị
                                        $id = $item[0]['id'];
                                        $title = $item[0]['title'];
                                        $price = $item[0]['price'];
                                        $quantity = $item[0]['quantity'];
                                        $totalPrice = $price * $quantity; // Cộng giá trị vào tổng

                                        echo "<tr '<td style='text-align: center;'>";
                                        echo "<td>$id</td>";
                                        echo "<td>$title</td>";
                                        echo "<td>$price VNĐ</td>";
                                        echo "<td>$quantity</td>";
                                        echo "</tr>";
                                    }
                                    ?>
                                </tbody>
                                <tfoot>
                                <tr >
                                    <td colspan="2"></td>
                                    <td ><strong>Tổng cộng:</strong></td>
                                    <td><?php echo $totalPrice; ?> VNĐ</td>
                                </tr>
                                
                                </tfoot>
                            </table>





                            


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <a href="/admin/booking/list-booking" class="btn btn-secondary">Hủy</a>
                    <input type="hidden" value="<?php echo $this->token ?>" name="token">
                    <input type="hidden" value="<?php if(isset($this->detail['id'])){ echo $this->detail['id']; }  ?>" name="id">
                    <input type="submit" value="Lưu" class="btn-add btn btn-success float-right">
                </div>
            </div>
        </form>

    </div><!-- /.container-fluid -->
</section>
