<?php
$static_url = Globals::getStaticUrl();
$version = Globals::getVersion();
$class = '';
if (!$this->item['userid']) {
    $fullname = $this->item['fullname'];
    $class.= ' no-no-img';
    $titles = array_filter(explode(' ', $this->item['fullname']));
    $titles = array_values($titles);
    $avatar = mb_strtoupper(mb_substr($titles[count($titles) - 2], 0, 1) . mb_substr($titles[count($titles) - 1], 0, 1));
}
else {
    $fullname = "{$this->item['fullname']}";
    $fullname = str_replace(' - Quản trị viên','',$fullname);
    $avatar = '<img class="lazy-image" src='.Globals::getLoading().' data-src="'.$static_url.'/images/hnam-comment.svg?v='.$version.'" alt="Ảnh đại diện quản trị viên"/>';
}
$formParams = array(
    'itemid' => $this->itemid,
    'commentid' => $this->commentid,
    'token' => $this->token,
    'parentid' => $this->item['id'],
);
?>
<?php if ($this->item['parentid'] > 0): ?>
    <div class="reply-detail">
        <div class="user-wrapper">
            <div class="avatar <?php echo $class; ?>"><?php echo $avatar; ?></div>
            <div class="user-info">
                <p class="user-name"><?php echo $fullname; ?></p>
                <p class="time-ago"><?php echo $this->item['datetime_text']; ?></p>
            </div>
            <?php if ($this->item['userid']): ?>
            <label>Quản trị viên</label>
            <?php endif; ?>
        </div>
        <p class="message"><?php echo str_replace("\r\n",'<br>',$this->item['content']); ?></p>
    </div>
<?php else: ?>
<div class="comment">
    <div class="avatar <?php echo $class; ?>"><?php echo $avatar; ?></div>
    <div class="comment-detail">
        <div class="user-info">
            <p class="user-name"><?php echo $fullname; ?></p>
            <p class="time-ago"><?php echo $this->item['datetime_text']; ?></p>
        </div>
        <p class="message"><?php echo str_replace("\r\n",'<br>',$this->item['content']); ?></p>
        <?php if ($this->itemid): ?>
            <div class="comment-item-answer">
                <a class="reply" onclick="openAnswerComment('<?php echo $this->item['id']; ?>')"><i class="lazy-class ic" data-class="ic_comment-orange"></i> Trả lời</a>
                <?php echo $this->partial('block/comment-form.phtml',$formParams); ?>
            </div>
            <?php if (!empty($this->item['answer'])): ?>
                <?php
                foreach($this->item['answer'] as $item) {
                    echo $this->partial('block/comment-item.phtml',array('item'=>$item));
                }
                ?>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>