<?php
$auth = Zend_Auth::getInstance();
$user = (array) $auth->getIdentity();
if ($this->count > 0) {
    $title = "Có {$this->count} thảo luận về ";
}
else {
    $title = "Hãy trở thành người đầu tiên thảo luận nào về ";
}
$title .= $this->title;
$formParams = array(
    'itemid' => $this->itemid,
    'commentid' => $this->commentid,
    'token' => $this->token,
);
$pagination = $this->pagination?$this->pagination:true;
?>
<section class="section-comments">
<div class="<?php echo $this->class?"{$this->class} ":''; ?>detail-coment">
    <div class="detail-comment-body">
        <div class="review-heading"><?php echo $title; ?></div>
        <?php echo $this->partial('block/comment-form.phtml', $formParams); ?>
        <?php if ($this->list): ?>
        <div class="comment-list<?php if ($pagination) echo ' pagination-ajax-load'; ?>">
            <?php echo $this->partial('block/comment-list.phtml', $this); ?>
        </div>
        <?php endif; ?>
    </div>
</div>
</section>