<?php
$count = $this->count - $this->limit;
$pagination = $this->pagination?$this->pagination:true;
$page = $this->page?$this->page:1;

?>
<?php
foreach($this->list as $item) {
    $itemParams = array(
        'itemid' => $this->itemid,
        'commentid' => $this->commentid,
        'token' => $this->token,
        'item' => $item,
    );
    echo $this->partial('block/comment-item.phtml',array('item'=>$item,'itemid' => $this->itemid,'commentid' => $this->commentid,'token' => $this->token));
}
?>
<?php if($count > 0): ?>
    <?php if ($pagination): ?>
        <div class="comment-pagination">
            <?php
            $pagination_link = "/ajax/comment-pagination?commentid={$this->commentid}&itemid={$this->itemid}&title={$this->title}&token={$this->token}&limit={$this->limit}";
            $pagination = array(
                'total' => $this->count,
                'per' => $this->limit,
                'page' => $page,
                'link' => $pagination_link,
                'ajax' => true,
            );
            echo $this->partial('block/pagination.phtml', $pagination);
            ?>
        </div>
    <?php else: ?>
        <div class="comment-list-view-more btn-view-more text-center">
            <input type="hidden" name="commentid" id="comment-commentid" value="<?php echo $this->commentid; ?>">
            <input type="hidden" name="itemid" id="comment-itemid" value="<?php echo $this->itemid; ?>">
            <input type="hidden" name="limit" id="comment-limit" value="<?php echo $this->limit; ?>">
            <input type="hidden" name="count" id="comment-count" value="<?php echo $count; ?>">
            <input type="hidden" name="token" id="comment-token" value="<?php echo $this->token; ?>">
            <a href="#" rel="nofollow" data-page="2" id="btn-view-more">Xem thêm <span>(<?php echo $count; ?>)</span></a>
        </div>
    <?php endif; ?>
<?php endif; ?>