<?php
$static_url = Globals::getStaticUrl();
$version = Globals::getVersion();
$auth = Zend_Auth::getInstance();
$user = (array) $auth->getIdentity();
if (empty($user)) {
    $avatar = '<i class="fa fa-user"></i>';
}
else {
    $avatar = '<img src="'.$static_url.'v6/images/hnam-comment.svg?v='.$version.'" alt="Ảnh đại diện quản trị viên"/>';
}
$index = $this->parentid?$this->parentid:$this->itemid;
if (!$index) {
    $index = 0;
}
?>

<form id="comment-form-<?php echo $index; ?>" class="comment-form" method="POST" onsubmit="submitComment(this)">
    <div class="row">
        <div class="comment-group col-sm-12">
            <textarea id="comment-content-<?php echo $index; ?>" onfocus="openFullComment('<?php echo $index; ?>')" rows="4" placeholder="Viết bình luận của bạn (vui lòng nhập Tiếng Việt có dấu)" name="content"></textarea>
        </div>
    </div>
    <div id="comment-hidden-group-<?php echo $index; ?>" class="row align-items-center comment-hidden-group">
        <?php if (empty($user)): ?>
            <div class="comment-group col-sm-4">
                <label for="comment-sex-nam-<?php echo $index; ?>" class="label-check">
                    <input type="radio" aria-label="Giới tính nam" name="sex" id="comment-sex-nam-<?php echo $index; ?>" value="1">
                    <span>Anh</span>
                </label>
                <label for="comment-sex-nu-<?php echo $index; ?>" class="label-check">
                    <input type="radio" aria-label="Giới tính nữ" name="sex" id="comment-sex-nu-<?php echo $index; ?>" value="0">
                    <span>Chị</span>
                </label>
            </div>
            <div class="comment-group col-sm-8">
                <input type="text" aria-label="Họ và tên" name="fullname" id="comment-fullname-<?php echo $index; ?>" class="comment-fullname" placeholder="Nguyễn Văn A">
            </div>
            <div class="comment-group col-sm-4">
                <input type="text" aria-label="Số điện thoại" name="phone" id="comment-phone-<?php echo $index; ?>" class="comment-phone" placeholder="0987654321">
            </div>
            <div class="comment-group col-sm-4">
                <input type="email" aria-label="Email" name="email" id="comment-email-<?php echo $index; ?>" class="comment-email" placeholder="info@hnammobile.com">
            </div>
            <div class="comment-group col-sm-4">
                <input type="hidden" name="itemid" value="<?php echo $this->itemid; ?>">
                <input type="hidden" name="commentid" value="<?php echo $this->commentid; ?>">
                <input type="hidden" name="token" value="<?php echo $this->token; ?>">
                <input type="hidden" name="parentid" value="<?php echo $this->parentid; ?>">
                <input type="submit" class="btn-send-comment" id="btn-send-comment-<?php echo $index; ?>" value="Gửi thảo luận">
            </div>

        <?php else: ?>
            <div class="comment-group col-sm-4">
                <input type="hidden" name="itemid" value="<?php echo $this->itemid; ?>">
                <input type="hidden" name="commentid" value="<?php echo $this->commentid; ?>">
                <input type="hidden" name="token" value="<?php echo $this->token; ?>">
                <input type="hidden" name="parentid" value="<?php echo $this->parentid; ?>">
                <input type="submit" class="btn-send-comment" id="btn-send-comment-<?php echo $index; ?>" value="Gửi trả lời">
            </div>

        <?php endif; ?>
    </div>
</form>