<?php
$_news          = Business_WsNew_NewsItem::getInstance();
$_newsHelper    = Business_HelpersNew_News::getInstance();
$currentUrl     = Business_Common_Utils::getCurrentURL();

$urls = parse_url($currentUrl);
$path = array_values(array_filter(explode('/',$urls['path'])));
if (isset($path[1]) && strpos($path[1],'.html')) {
    unset($path[1]);
}
$countPath = count($path);

$menu =  $_news->getNewsMenu(true);
?>
<section class="news-cat">
    <div class="container container-white ">
        <div class="list-brands">
            <?php foreach($menu as $key=>$item): ?>
                <?php
                $check_child = false;
                $actived = false;
                $class = '';
                if(!isset($item['link']) || !$item['link']) {
                    continue;
                }
                if (!empty($item['sub'])) {
                    $check_child = true;
                    $class.= ' has-child';
                }
                if (count($path) > 1) {
                    if ($path[1] == $item['slug']) {
                        $class.= ' active';
                        $actived = true;

                    }
                }
                elseif(!$key) {
                    $class.= ' active';
                    $actived = true;
                }
                $class = trim($class);
                ?>
                <a class="brand no-ic-active <?php echo $class; ?>" href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>">
                    <?php if(isset($item['icon']) && $item['icon']) echo $item['icon']; ?>
                    <?php echo $item['title']; ?>
                </a>
            <?php endforeach; ?>
        </div>
    </div>
</section>