<?php
$total =  ceil($this->total/$this->per);
if($total > 1){
    $page = $this->page;
    $link = $this->link?$this->link:Business_Common_Utils::curPageURL();
    $base_url = Globals::getBaseUrl();
    $pos = strrpos($base_url,'/');
    $lenght = strlen($base_url);
    if ($pos == $lenght-1) {
        $base_url = substr($base_url,0,-1);
    }
    $url = parse_url($link);
    $query = '';
    if (isset($url['query'])) {
        $params = explode('&', $url['query']);
        foreach ($params as $param) {
            $item = explode('=', $param);
            if ($item[0] && $item[0] != 'page') {
                $query .= $query ? "&{$param}" : "?$param";
            }
        }
    }
    $link = "{$base_url}{$url['path']}{$query}";
    $separator = '&';
    if(!strpos($link,'?')) {
        $link.= '?';
        $separator = '';
    }
    $last = $link . $separator . 'page=' . $total;
    if($page >= $total - 1) {
        $next = $last;
    }
    else {
        $next = $link . $separator. 'page=' . ($page+1);
    }
    if(strpos($link,'?') == strlen($link)-1) {
        $first = substr($link,0,-1);
    }
    else {
        $first = $link;
    }
    if($page <= 2) {
        $prev = $first;
    }
    else {
        $prev = $link . $separator . 'page=' . ($page-1);
    }
    $link .= $separator . 'page=';
    $max = $this->item?$this->item:3;
    $max = $max%2?$max:$max-1;
    $show = floor($max/2);
    if($total < $max) {
        $max = $total;
        $show = $total;
    }
    ?>
    <ul class="global_pagination<?php if ($this->ajax) echo ' pagination-ajax'; ?><?php if ($this->class) echo ' '.$this->class; ?>">
        <?php if($page > 1): ?>
            <li class="prev-item">
                <?php if($this->ajax): ?>
                    <a href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $prev; ?>')"><i class="lazy-class ic" data-class="ic-no-margin ic_chervon_left-grey"></i></a>
                <?php else: ?>
                    <a href="<?php echo $prev; ?>"><i class="lazy-class ic" data-class="ic-no-margin ic_chervon_left-grey"></i></a>
                <?php endif; ?>
            </li>
            <?php if ($page > $show + 1 && $max < $total): ?>
            <li class="first-item">
                <?php if($this->ajax): ?>
                    <a href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $first; ?>')">1</a>
                <?php else: ?>
                    <a href="<?php echo $first; ?>">1</a>
                <?php endif; ?>
            </li>
            <?php endif; ?>
            <?php if ($page > $show + 2 && $max + 1 < $total): ?>
            <li><a href="javascript:void(0)">...</a></li>
            <?php endif; ?>
        <?php endif; ?>
        <?php if($page < $show+1): ?>
            <?php for ($i=1; $i <= $max; $i++): ?>
                <li class="pagination-item">
                    <?php
                    if ($i > 1) {
                        $templink = $link.$i;
                    }
                    else {
                        $templink = $first;
                    }
                    ?>
                    <?php if($this->ajax): ?>
                        <a class="<?php if($page == $i) echo " active"; ?>" href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $templink; ?>')"><?php echo $i; ?></a>
                    <?php else: ?>
                        <a class="<?php if($page == $i) echo " active"; ?>" href="<?php echo $templink; ?>"><?php echo $i; ?></a>
                    <?php endif; ?>
                </li>
            <?php endfor; ?>
        <?php elseif($page <= $total-$show): ?>
            <?php for ($i=$page-$show; $i <= $page+$show; $i++): ?>
                <?php
                if ($i > 1) {
                    $templink = $link.$i;
                }
                else {
                    $templink = $first;
                }
                ?>
                <li class="pagination-item">
                    <?php if($this->ajax): ?>
                        <a class="<?php if($page == $i) echo " active"; ?>" href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $templink; ?>')"><?php echo $i; ?></a>
                    <?php else: ?>
                        <a class="<?php if($page == $i) echo " active"; ?>" href="<?php echo $templink; ?>"><?php echo $i; ?></a>
                    <?php endif; ?>
                </li>
            <?php endfor; ?>
        <?php else: ?>
            <?php for ($i=$total-$max+1; $i <= $total; $i++): ?>
                <?php if($i > 0): ?>
                    <li class="pagination-item">
                        <?php
                        if ($i > 1) {
                            $templink = $link.$i;
                        }
                        else {
                            $templink = $first;
                        }
                        ?>
                        <?php if($this->ajax): ?>
                            <a class="<?php if($page == $i) echo " active"; ?>" href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $templink; ?>')"><?php echo $i; ?></a>
                        <?php else: ?>
                            <a class="<?php if($page == $i) echo " active"; ?>" href="<?php echo $templink; ?>"><?php echo $i; ?></a>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>
            <?php endfor; ?>
        <?php endif; ?>
        <?php if($page < $total): ?>
            <?php if ($page < $total - $show - 1 && $max + 1 < $total): ?>
                <li><a href="javascript:void(0)">...</a></li>
            <?php endif; ?>
            <?php if ($page < $total - $show && $max < $total): ?>
                <li class="last-item">
                    <?php if($this->ajax): ?>
                        <a href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $last; ?>')"><?php echo $total; ?></a>
                    <?php else: ?>
                        <a href="<?php echo $last; ?>"><?php echo $total; ?></a>
                    <?php endif; ?>
                </li>
            <?php endif; ?>
            <li class="next-item">
                <?php if($this->ajax): ?>
                    <a href="javascript:void(0)" onclick="pagingAjax(this,'<?php echo $next; ?>')"><i class="lazy-class ic" data-class="ic-no-margin ic ic_chervon_right-grey"></i></a>
                <?php else: ?>
                    <a href="<?php echo $next; ?>"><i class="lazy-class ic" data-class="ic-no-margin ic ic_chervon_right-grey"></i></a>
                <?php endif; ?>
            </li>
        <?php endif; ?>
    </ul>
    <?php if ($this->ajax): ?>
        <div class="pagination-ajax-overlay"></div>
    <?php endif; ?>
<?php } ?>