<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
?>
<?php if($this->schema): ?>
    <?php if(isset($this->schema['website'])): ?>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "WebSite",
          "name": "<?php echo htmlspecialchars($this->schema['website']['title']); ?>",
          "url": "<?php echo $this->schema['website']['url']; ?>",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "<?php echo $base_url; ?>tim-kiem?={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
        </script>
    <?php endif; ?>
    <?php if(isset($this->schema['organization'])): ?>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "<?php echo SCHEMA_ORGANIZATION_NAME ?>",
          "url": "<?php echo $base_url; ?>",
          "logo": "<?php echo $static_url; ?>v6/images/logo.svg"
        }
        </script>
    <?php endif; ?>
    <?php if(isset($this->schema['breadcrumb'])): ?>
        <?php $last = count($this->schema['breadcrumb']) - 1; ?>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "BreadcrumbList",
          "itemListElement": [
          {
            "@type": "ListItem",
            "position": <?php echo 1; ?>,
            "name": "Trang chủ",
            "item": "<?php echo $base_url; ?>"
          }
          <?php foreach ($this->schema['breadcrumb'] as $key=>$breadcrumb): ?>
          <?php if(!isset($breadcrumb['link']) || $key == $last) continue; ?>
          ,{
            "@type": "ListItem",
            "position": <?php echo $key+2; ?>,
            "name": "<?php echo htmlspecialchars($breadcrumb['title']); ?>",
            "item": "<?php echo $breadcrumb['link']; ?>"
          }
          <?php endforeach; ?>
          ]
        }
        </script>
    <?php endif; ?>
    <?php if(isset($this->schema['product'])): ?>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Product",
          "name": "<?php echo htmlspecialchars($this->schema['product']['title']); ?>",
          "image": "<?php echo $this->schema['product']['image']; ?>",
          "description": "<?php echo htmlspecialchars($this->schema['product']['description']); ?>",
          "brand": "<?php echo htmlspecialchars($this->schema['product']['brand']); ?>",
          "sku": "<?php echo $this->schema['product']['sku']; ?>"
          <?php if($this->schema['product']['price']): ?>
          ,"offers": {
            "@type": "Offer",
            "url": "<?php echo $this->schema['product']['url']; ?>",
            "priceCurrency": "VND",
            "price": "<?php echo $this->schema['product']['price']; ?>",
            "availability": "InStock"
          }
          <?php endif; ?>
          <?php if(!empty($this->schema['product']['rating'])): ?>
          ,"aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "<?php echo $this->schema['product']['rating']['value']; ?>",
            "ratingCount": "<?php echo $this->schema['product']['rating']['count']; ?>"
          }
          <?php endif; ?>
          <?php if(!empty($this->schema['product']['review'])): ?>
          ,"review": [
          <?php $count = 0; foreach ($this->schema['product']['review'] as $key=>$review): ?>
            <?php if(!isset($review['fullname']) || !isset($review['content'])) continue; ?>
            <?php if ($count > 0) echo ','; ?>
              {
                "@type": "Review",
                "reviewBody": "<?php echo htmlspecialchars($review['content']); ?>",
                "reviewRating": {
                  "@type": "Rating",
                  "ratingValue": "<?php echo $review['rate']; ?>"
                },
                "author": {"@type": "Person", "name": "<?php echo htmlspecialchars($review['fullname']); ?>"}
              }
            <?php $count++; endforeach; ?>
          ]
          <?php endif; ?>
        }
        </script>
    <?php endif; ?>
    <?php if(isset($this->schema['blog'])): ?>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "<?php echo $this->schema['blog']['url']; ?>"
          },
          "headline": "<?php echo htmlspecialchars($this->schema['blog']['title']); ?>",
          "description": "<?php echo htmlspecialchars($this->schema['blog']['description']); ?>",
          "image": {
            "@type": "ImageObject",
            "url": "<?php echo $this->schema['blog']['image']; ?>"
          },
          "author": {
            "@type": "Organization",
            "name": "<?php echo SCHEMA_BLOG ?>"
          },
          "publisher": {
            "@type": "Organization",
            "name": "<?php echo SCHEMA_BLOG ?>",
            "logo": {
              "@type": "ImageObject",
              "url": "<?php echo $static_url; ?>v6/images/logo.png"
            }
          },
          "datePublished": "<?php echo $this->schema['blog']['created']; ?>",
          "dateModified": "<?php echo $this->schema['blog']['updated']; ?>"
        }
        </script>
    <?php endif; ?>
<?php endif; ?>