<?php
$static_url = Globals::getStaticUrl();
$base_url = Globals::getBaseUrl();
$version = Globals::getVersion();
$keyword = $this->keyword;
$filter = $this->filter;
$filters = array(
    'products' => 'Sản phẩm',
    'news' => 'Tin tức',
);
$count=0;
$checked = false;
?>
<div class="heading-search">
    <div class="search-keyword">
        Kết quả tìm kiếm cho từ khóa "<b><?php echo $keyword; ?></b>".
    </div>
<!--    <div class="search-filter">-->
<!--        --><?php //foreach ($filters as $key=>$value): ?>
<!--            --><?php
//            if ($checked) {
//                $checked = false;
//            }
//            elseif (!$filter && $count == 0) {
//                $checked = true;
//            }
//            elseif($filter && $filter == $key) {
//                $checked = true;
//            }
//            else {
//                $checked = false;
//            }
//            if ($checked) {
//                $link = "javascript:void(0)";
//            }
//            else {
//                $link = "{$base_url}tim-kiem?key={$keyword}";
//                if ($key == 'news') {
//                    $link.= "&type=tin-tuc";
//                }
//            }
//            ?>
<!--            <a rel="nofollow" href="--><?php //echo $link; ?><!--">-->
<!--                <label for="searhc-filter---><?php //echo $key; ?><!--" class="container-checkbox">-->
<!--                    --><?php //echo $value; ?>
<!--                    <input type="checkbox"--><?php //if ($checked) echo ' checked'; ?><!-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--            </a>-->
<!--        --><?php //$count++; ?>
<!--        --><?php //endforeach; ?>
<!--    </div>-->
</div>