<?php
$_products          = Business_WsNew_ProductsItem::getInstance();
$_productsHelper    = Business_HelpersNew_Products::getInstance();
$_news              = Business_WsNew_NewsItem::getInstance();
$_newsHelper        = Business_HelpersNew_News::getInstance();
$_general           = Business_Addon_General::getInstance();

/*$query = "SELECT * FROM ws_productsitem WHERE productsid IN (3,5,6,8) AND (price + original_price) > 0 AND oldprice > 0 AND onstock = 1 AND enabled = 1 ORDER BY rand() LIMIT 5";
$products = $_general->excuteCodev2($query,'Sidebar_Promotion_List');*/
$products = false;

$categories = $_news->getSidebarMenu();
$groups = array();

foreach ($categories as $category) {
    try {
        $cateid = $category['id'];
        $category = $_news->getNewCategory($cateid);
        $query = "SELECT id FROM `ws_newsitem_categories` WHERE parent_id = {$cateid} AND enabled = 1";
        $sub = $_general->excuteCodev2($query);
        $listcateid = $cateid;
        if (!empty($sub)) {
            $sub = implode(',',array_column($sub,'id'));
            $listcateid.= ','.$sub;
        }

        $category = $_news->categoryHelper($category);
        $list = $_news->getFullList('', " AND new_cateid in ({$listcateid}) AND enabled = 1 AND newsid = 3", 0, 6);

        $list = $_newsHelper->listHelper($list);
        $groups[] = array(
            'id' => $category['slug'],
            'title' => $category['title'],
            'link' => $category['link'],
            'data' => $list,
        );
    }
    catch (Exception $e) {
        var_dump($listcateid);
    }

}

?>
<div class="right-sidebar">
    <?php if ($products): ?>
    <?php $products = $_productsHelper->listHelper($products); ?>
    <div class="sb sidebar-khuyenmai">
        <div class="sb-header">
            Khuyến mãi
        </div>
        <div class="sb-body">
            <?php foreach ($products as $item): ?>
            <div class="global_product">
                <div class="global_product-image">
                    <figure class="image-wrapper">
                        <a href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>">
                            <picture class="lazy-picture1">
                                <?php if (isset($item['webp']) && $item['webp']): ?>
                                    <source type="image/webp" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo Globals::getStaticUrl().$item['webp']; ?>">
                                <?php endif; ?>
                                <source type="image/png" srcset="<?php echo Globals::getLoading(); ?>" data-srcset="<?php echo Globals::getStaticUrl().$item['small']; ?>">
                                <img data-src="<?php echo Globals::getStaticUrl().$item['small']; ?>" alt="<?php echo $item['title']; ?>">
                            </picture>
                        </a>
                    </figure>
                </div>
                <div class="global_product-info">
                    <h4 class="global_product-name"><a href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>"><?php echo $item['title']; ?></a></h4>
                    <p class="global_product-price"><?php echo $item['cost_format']; ?>đ <span><?php echo $item['cost_base_format']; ?>đ</span></p>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
    <?php endif; ?>
    <?php foreach ($groups as $group): ?>
        <div class="sb recommend-articles">
            <div class="recommend-header"><a href="<?php echo $group['link']; ?>"><?php echo $group['title']; ?></a></div>
            <div class="list-articles-vertical">
                <?php
                foreach ($group['data'] as $item){
                    echo $this->partial('render/NewsItemSmall.phtml', array('item' => $item));
                }
                ?>
            </div>
        </div>
    <?php endforeach; ?>
</div>